<template lang="html">
  <footer class="section__card__argument__footer">
    <LikeButton :card="card" :vote="vote" class="footer__item" @showLike="showUsersVotedAndFavorites" />
    <DislikeButton :card="card" :vote="vote" class="footer__item"  @showDislike="showUsersVotedAndFavorites" />
    <FavoriteButton :card="card" class="footer__item"  @showFavorite="showUsersVotedAndFavorites" />
    <Comments :url="url" class="footer__item" />
    <ModalShowTabs
      v-if="showTabs"
      :active="showTabs"
      :chooseTab="currentTab"
      :title="title"
      :favorVotes="card.favorVotes"
      :notFavorVotes="card.notFavorVotes"
      :favorites="card.favorites"
      @closeShow="showTabs = false"/>
  </footer>
</template>

<script>
import { isVoted } from '../../helpers'
import ModalShowTabs from '../../components/CardArgument/ModalShowTabs'
import LikeButton from '../../components/CardArgument/LikeButton'
import DislikeButton from '../../components/CardArgument/DislikeButton'
import FavoriteButton from '../../components/CardArgument/FavoriteButton'
import Comments from '../../components/CardArgument/Comments'

export default {
  props: ['card', 'url'],
  components: { ModalShowTabs, LikeButton, DislikeButton, FavoriteButton, Comments },
  data () {
    return {
      showTabs: false,
      currentTab: 'like'
    }
  },
  computed: {
    vote () {
      return isVoted(this.card.uid)
    },
    title () {
      return this.card.author
    }
  },
  methods: {
    showUsersVotedAndFavorites () {
      this.currentTab = arguments[0]
      this.showTabs = true
    }
  }
}
</script>

<style lang="css" scoped>
  .section__card__argument__footer {
    display: flex;
    margin: .5em 0;
    padding: 1em 0;
    background-color: rgba(221, 220, 220, 0.59);
  }

  .footer__item {
    flex-grow: 1;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
  }

  .footer__item a,
  .footer__item span {
    color: #949494;
  }

  .footer__item .vote {
    margin-left: .4em;
  }

  .footer__item .positive:hover span,
  .footer__item:hover .positive + .vote,
  .positive.is-active + .vote,
  .positive.is-active span {
    color: #009a00;
  }

  .footer__item .negative:hover span,
  .footer__item:hover .negative + .vote,
  .negative.is-active + .vote,
  .negative.is-active span {
    color: #ff4a4a;
  }

  .footer__item .favorited:hover span,
  .footer__item:hover .favorited + .vote,
  .favorited.is-active + .vote,
  .favorited.is-active span {
    color: #EBE000;
  }
</style>
