<template lang="html">
  <p class="subtitle">
    &ldquo;{{ argument }}&rdquo;
  </p>
</template>

<script>
export default {
  props: ['content'],
  computed: {
    argument () {
      return `${this.content.slice(0, 130)} ...`
    }
  }
}
</script>

<style lang="css">
</style>
