<template lang="html">
  <div :class="styleClass">
    <a
      href="#"
      class="negative"
      :class="{
        'is-active': vote === 'dislike' }"
      @click.prevent="computedVote('dislike')">
      <span
        class="icon is-medium"
        aria-hidden="true">
        <i class="fa"
          :class="{
            'fa-thumbs-o-down' : vote !== 'dislike' || vote !== 'like',
            'fa-thumbs-down' : vote === 'dislike' }"></i>
      </span>
    </a>
    <a
      href="#"
      class="vote"
      @click.prevent="$emit('showDislike', 'dislike')">
      {{ card.notFavorVotes | returnLenght }}
    </a>
  </div>
</template>

<script>
import {
  insertVotes,
  insertVote,
  removeVote
} from '../../services/firebase/database'
import {
  voteCardPontuation
} from '../../services/firebase/database/gamification'

export default {
  props: ['card', 'vote', 'styleClass'],
  methods: {
    computedVote (vote) {
      if (this.$isEmpty(this.$store.state.user)) {
        this.$store.dispatch('hasLogged', 'pop-up')
        return null
      }
      const user = this.$store.state.user.uid
      const otherUser = this.card.uidAuthor
      if (otherUser === user) return null
      if (this.vote === vote) return
      if (this.vote) removeVote(vote, this.card.uid, this.card, this.$store.state.user.uid)
      insertVote(vote, this.card.uid, this.card, this.$store.state.user.uid)
      insertVotes(vote, this.card.uid)
      Promise
        .all(voteCardPontuation(user, otherUser, vote, this.vote)).then(val => {
          this.$store.dispatch('showToast', {
            msg: 'Você ganhou 2 pontos',
            show: true,
            theme: 'is-success'
          })
        })
    }
  }
}
</script>

<style lang="css">
</style>
