<template lang="html">
  <div :class="styleClass">
    <a
      href="#"
      class="favorited"
      :class="{
        'is-active': favorited }"
      @click.prevent="favorite">
      <span
        class="icon is-medium"
        aria-hidden="true">
        <i class="fa"
          :class="{
            'fa-star-o' : !favorited,
            'fa-star' : favorited }"></i>
      </span>
    </a>
    <a
      href="#"
      class="vote"
      @click.prevent="$emit('showFavorite', 'favorite')">
      {{ card.favorites | returnLenght }}
    </a>
  </div>
</template>

<script>
import {
  insertFavorite,
  insertFavoritesDeck,
  removeFavorite,
  removeFavorites
} from '../../services/firebase/database'
import {
  favoriteCardPontuation
} from '../../services/firebase/database/gamification'
import { isFavorited } from '../../helpers'

export default {
  props: ['card', 'styleClass'],
  computed: {
    favorited () {
      return isFavorited(this.card.uidTheme, this.card.uid)
    }
  },
  methods: {
    favorite () {
      if (this.$isEmpty(this.$store.state.user)) {
        this.$store.dispatch('hasLogged', 'pop-up')
        return null
      }
      const user = this.$store.state.user.uid
      const otherUser = this.card.uidAuthor
      if (otherUser === user) return null
      if (this.favorited) {
        Promise
          .all(favoriteCardPontuation(user, otherUser, 'remove', this.favorited))
            .then(val => {
              this.$store.dispatch('showToast', {
                msg: 'Você perdeu 2 pontos',
                show: true,
                theme: 'is-danger'
              })
            })
        removeFavorite(this.card.uid, this.card, this.$store.state.user.uid)
        removeFavorites(this.card.uid, this.card.uidTheme)
        this.favorited = false
        return
      }
      Promise
        .all(favoriteCardPontuation(user, otherUser, 'add', this.favorited))
        .then(val => {
          this.$store.dispatch('showToast', {
            msg: 'Você ganhou 2 pontos',
            show: true,
            theme: 'is-success'
          })
        })
      this.favorited = true
      insertFavorite(this.card.uid, this.card, this.$store.state.user.uid)
      insertFavoritesDeck(this.card.uidTheme, this.card.uid)
    }
  }
}
</script>

<style lang="css">
</style>
