<template lang="html">
  <footer class="card-footer">
    <LikeButton :card="card" :vote="vote" class="card-footer-item" @showLike="showUsersVotedAndFavorites" />
    <DislikeButton :card="card" :vote="vote" class="card-footer-item"  @showDislike="showUsersVotedAndFavorites" />
    <FavoriteButton :card="card" class="card-footer-item"  @showFavorite="showUsersVotedAndFavorites" />
    <Comments :url="url" class="card-footer-item" />
    <ModalShowTabs
      v-if="showTabs"
      :active="showTabs"
      :chooseTab="currentTab"
      :title="title"
      :favorVotes="card.favorVotes"
      :notFavorVotes="card.notFavorVotes"
      :favorites="card.favorites"
      @closeShow="showTabs = false"/>
  </footer>
</template>

<script>
import ModalShowTabs from './ModalShowTabs'
import LikeButton from './LikeButton'
import DislikeButton from './DislikeButton'
import FavoriteButton from './FavoriteButton'
import Comments from './Comments'
import { isVoted } from '../../helpers'

export default {
  props: ['card', 'url'],
  computed: {
    vote () {
      return isVoted(this.card.uid)
    }
  },
  data () {
    return {
      showTabs: false,
      currentTab: 'like',
      title: this.card.author
    }
  },
  components: { ModalShowTabs, LikeButton, DislikeButton, FavoriteButton, Comments },
  methods: {
    showUsersVotedAndFavorites () {
      this.currentTab = arguments[0]
      this.showTabs = true
    }
  },
  mounted () {
    window.FB.XFBML.parse()
  }
}
</script>

<style lang="css">
  .card-footer-item {
    font-size: 1.3em;
    font-weight: 500;
  }

  .card-footer-item .vote {
    margin-left: .4em;
  }

  .card-footer-item a,
  .card-footer-item span {
    color: #949494;
  }

  .card-footer-item .positive:hover span,
  .card-footer-item:hover .positive + .vote,
  .positive.is-active + .vote,
  .positive.is-active span {
    color: #009a00;
  }

  .card-footer-item .negative:hover span,
  .card-footer-item:hover .negative + .vote,
  .negative.is-active + .vote,
  .negative.is-active span {
    color: #ff4a4a;
  }

  .card-footer-item .favorited:hover span,
  .card-footer-item:hover .favorited + .vote,
  .favorited.is-active + .vote,
  .favorited.is-active span {
    color: #EBE000;
  }
</style>
