<template lang="html">
  <div
    class="card"
    :class="[cardState, classObject]">
    <div class="card-header">
      <div class="card-avatar">
        <Avatar :url="ideia.avatar" />
      </div>
      <router-link :to="`user/${ideia.uidAuthor}`" class="card-header-title">
        {{ author }}
      </router-link>
    </div>
    <div class="card-content">
      <div class="content">
        <ContentArgument :content="ideia.content" />
        <router-link :to="`/card/${ideia.uid}`">
          Ver mais detalhes
        </router-link>
        </p>
        <p > Posição: {{ ideia.position }} </p>
        <p  class="label-card"> {{ label }} </p>
        <a
          href="#"
          @click.prevent="edited = true"
          v-if="isEdited"> Editar Card </a>
      </div>
    </div>
    <FooterCard :card="ideia" :url="url" />
    <ModalEditCard
      :content="ideia.content"
      :active="edited"
      :uid="ideia.uid"
      @closeModal="edited = false"/>
  </div>
</template>

<script>
import ContentArgument from './ContentArgument'
import FooterCard from './FooterCard'
import ModalEditCard from './ModalEditCard'
import Avatar from '../Avatar'
import { cardCategory, cardState } from '../../helpers'

export default {
  props: ['ideia'],
  components: { FooterCard, Avatar, ModalEditCard, ContentArgument },
  data () {
    return {
      isExpanded: false,
      edited: false
    }
  },
  computed: {
    author () {
      const split = this.ideia.author.split(' ')
      return [split[0], split[1]].join(' ')
    },
    classObject () {
      return {
        'positive': this.ideia.positioning === 0,
        'negative': this.ideia.positioning === 1
      }
    },
    label () {
      if (this.ideia.favorVotes === undefined) return 'Card Comum'
      return cardCategory(this.ideia.favorVotes.length)
    },
    cardState () {
      return cardState(this.label)
    },
    myArgument () {
      return this.$store.state.user.uid === this.ideia.uidAuthor
    },
    isEdited () {
      if (this.ideia.uidAuthor !== this.$store.state.user.uid) return false
      // Data so será valida se ela for menor que 10 minutos da hora de criação
      const dateValid = this.ideia.dateCreate + 600000
      const dateNow = new Date().getTime()
      const isValid = dateValid > dateNow
      return isValid
    },
    url () {
      const finalUrl = `/card/${this.ideia.uid}`
      const url = document.URL
      return url.replace('/home', finalUrl)
    }
  }
}
</script>
