<template lang="html">
  <div
    tabindex="0"
    class="modal"
    :class="{'is-active' : active}">
    <div
      class="modal-background"
      @click="closeModal"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title has-text-centered"> Editar card </h2>
        <form action="#">
          <p class="control">
            <label for="messageTheme" class="label"> Argumento </label>
            <textarea
              name="name" class="textarea is-medium" id="messageTheme"
              maxlength="1000"
              v-model="argument"></textarea>
            <span class="textarea__number"> {{ textarea__number }} </span>
          </p>
          <button
            class="button is-medium is-success"
            type="button"
            @click="confirmArgument"> Editar card </button>
        </form>
        <div class="notification is-success" v-show="notification">
          <button
            class="delete"
            @click="closeModal"></button>
          <p class="subtitle"> Argumento atualizado com sucesso </p>
        </div>
      </div>
    </div>
    <button
      class="modal-close"
      @click="closeModal"></button>
  </div>
</template>

<script>
import { editArgument, insertEdit } from '../../services/firebase/database'

export default {
  props: ['active', 'content', 'uid'],
  name: 'argument-edit',
  data () {
    return {
      argument: this.content,
      notification: false
    }
  },
  computed: {
    textarea__number () {
      const digited = this.argument.length
      return `${digited} / ${1000 - digited} caracteres`
    }
  },
  methods: {
    confirmArgument () {
      if (!this.$isEmpty(this.argument)) {
        editArgument(this.uid, this.argument)
        .then(() => {
          insertEdit(this.uid)
          this.notification = true
        })
        .catch(err => {
          console.log(err)
        })
      }
    },
    closeModal () {
      this.notification = false
      this.$emit('closeModal')
    }
  }
}
</script>

<style media="screen" scoped>
  .textarea__number {
    position: absolute;
    bottom: -1.5em;
    right: 0;
  }
  .notification {
    margin-top: .5em;
  }
</style>
