<template lang="html">
  <div
    v-setfocus="active"
    tabindex="0"
    class="modal"
    :class="{'is-active' : active}">
    <div
      class="modal-background"
      @click="$emit('closeShow')"></div>
    <div class="modal-content">
      <div class="box">
        <h3 class="subtitle"> Dados do Card de {{ title }} </h3>
        <div class="tabs is-centered is-medium is-fullwidth">
          <ul>
            <li :class="{ 'is-active' : currentTab === 'like' }">
              <a @click="currentTab = 'like'">
                <span class="icon is-small"> <i class="fa fa-thumbs-up"></i> </span>
                Likes
              </a>
            </li>
            <li :class="{ 'is-active' : currentTab === 'dislike' }">
              <a @click="currentTab = 'dislike'">
                <span class="icon is-small"> <i class="fa fa-thumbs-down"></i> </span>
                Dislikes
              </a>
            </li>
            <li :class="{ 'is-active' : currentTab === 'favorite' }">
              <a @click="currentTab = 'favorite'">
                <span class="icon is-small"> <i class="fa fa-star"></i> </span>
                Favorites
              </a>
            </li>
          </ul>
        </div>
        <div class="content tablist">
          <ul v-if="currentTab === 'like'">
            <p v-if="favorVotes === undefined">
              Nenhuma pessoa gostou do card ainda
            </p>
            <li v-for="object in favorVotes">
              <UserList :object="object" />
            </li>
          </ul>
          <ul v-if="currentTab === 'dislike'">
            <p v-if="notFavorVotes === undefined">
              Nenhuma pessoa não gostou do card ainda
            </p>
            <li v-for="object in notFavorVotes">
              <UserList :object="object" />
            </li>
          </ul>
          <ul v-if="currentTab === 'favorite'">
            <p v-if="favorites === undefined">
              Nenhuma pessoa guardou no deck o card ainda
            </p>
            <li v-for="object in favorites">
              <UserList :object="object" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button
      class="modal-close"
      @click="$emit('closeShow')"></button>
  </div>
</template>

<script>
import UserList from './UserList'

export default {
  props: ['active', 'chooseTab', 'title', 'favorVotes', 'notFavorVotes', 'favorites'],
  data () {
    return {
      currentTab: this.chooseTab
    }
  },
  components: { UserList }
}
</script>

<style lang="css">
</style>
