<template lang="html">
  <div class="tablist__item">
    <img class="tablist__item__avatar" :src="image" alt="">
    <router-link :to="`/user/${object}`" class="tablist__item__text">
      {{ name }}
    </router-link>
  </div>
</template>

<script>
import { database } from '../../services/firebase/database'

export default {
  props: ['object'],
  data () {
    return {
      name: '',
      image: ''
    }
  },
  mounted () {
    database
      .ref(`users/${this.object}`)
      .child('name')
      .once('value', snap => {
        this.name = snap.val()
      })
    database
      .ref(`users/${this.object}`)
      .child('photo')
      .once('value', snap => {
        this.image = snap.val()
      })
  }
}
</script>
