<template lang="html">
  <section class="my-arguments wrapper">
    <h2 class="title has-text-centered"> Meus Cards </h2>
    <hr>
    <Sections v-for="(theme, key) in themes" :theme="theme" :title="key"/>
    <negative :isShow="showNegative" message="Você não possui cards ainda" />
  </section>
</template>

<script>
import Sections from './Sections'

export default {
  components: { Sections },
  computed: {
    themes () {
      return this.$store.state.user.arguments
    },
    showNegative () {
      if (this.themes === undefined) return true
      return false
    }
  }
}
</script>

<style lang="css">
</style>
