<template lang="html">
  <article class="my-arguments__article">
    <header>
      <h3
        class="subtitle"> {{ title | returnUidFilter | capitalize }} </h3>
      <router-link class="button is-info" :to="`/themes/${title}`"> Confira o tema </router-link>
    </header>
    <div class="block-flex-wraped">
      <CardArgument
         v-for="argument in tema"
        :ideia="argument"/>
    </div>
  </article>
</template>

<script>
export default {
  props: ['title'],
  computed: {
    tema () {
      return Object.values(this.$store.state.arguments)
        .filter(item => item.uidTheme === this.title)
    }
  }
}
</script>
