<template lang="html">
  <div class="wrapper">
    <section class="card-view">
      <article
        class="section__card"
        :class="[isPositive ? 'positive' : 'negative']">
        <header class="section__header">
          <Avatar :url="avatar" length="large"/>
          <h1 class="section__header__title"> {{ author.name }} </h1>
        </header>

        <div class="content section__content">
          <blockquote class="section__card__argument">
            &ldquo; {{ argument.content }} &rdquo;
          </blockquote>
          <p> Card criado em {{ argument.dateCreate | moment('DD/MM/YYYY') }} às {{ argument.dateCreate | moment('HH:mm:ss') }}</p>
          <p> Classificado como {{ label }} </p>
          <p v-if="argument.edited"> Este argumento foi editado </p>
        </div>

        <FooterCard :card="argument" :url="url"/>
        <p class="subtitle has-text-centered"> Compartilhe este argumento </p>
        <Share />
        <hr>
        <div
          class="fb-comments"
          :data-href="url"
          data-width="100%"
          data-numposts="10"></div>
      </article>
    </section>
    <ShowLogged />
  </div>
</template>

<script>
import FooterCard from './Card/FooterCard'
import { database } from '../services/firebase/database'
import { returnUid, cardCategory } from '../helpers'

export default {
  components: { FooterCard },
  data () {
    return {
      argument: {},
      author: {}
    }
  },
  computed: {
    avatar () {
      if (this.$isEmpty(this.author)) return ''
      return this.author.photo
    },
    theme () {
      if (this.$isEmpty(this.author)) return ''
      return returnUid(this.argument.uidTheme)
    },
    label () {
      if (this.argument.favorVotes === undefined) return 'Card Comum'
      return cardCategory(this.argument.favorVotes.length)
    },
    isPositive () {
      if (this.argument.positioning) return false
      return true
    },
    url () {
      return document.URL
    },
    name () {
      if (this.$isEmpty(this.author)) return ''
      return this.author.name
    },
    description () {
      return `Descubra o posicionamento de ${this.name} acerca do tema ${this.theme}`
    },
    title () {
      return `Card de ${this.name} sobre o tema ${this.theme}`
    }
  },
  mounted () {
    if (window !== undefined && window.FB !== undefined) {
      window.FB.XFBML.parse()
    }
    database
      .ref('arguments')
      .child(this.$route.params.card)
      .on('value', snap => {
        database
          .ref('users')
          .child(snap.val().uidAuthor)
          .once('value', snap => {
            this.author = snap.val()
          })
        this.argument = snap.val()
      })
  },
  head: {
    title: {
      inner: 'Card'
    },

    // Share in Facebook
    meta () {
      return [
        {
          property: 'og:url',
          content: this.url
        },
        {
          property: 'og:title',
          content: this.title
        },
        {
          property: 'og:description',
          content: this.description
        },
        {
          property: 'fb:app_id',
          content: '1912094239025418'
        },
        // Share schema.org
        {
          itemprop: 'name',
          content: this.title
        },
        {
          itemprop: 'description',
          content: this.description
        },
        // Share twitter
        {
          name: 'twitter:url',
          content: this.url
        },
        {
          name: 'twitter:title',
          content: this.title
        },
        {
          name: 'twitter:description',
          content: this.description
        }
      ]
    }
  },
  filters: {
    lowerCase (value) {
      if (!value) return ''
      return value.toLowerCase()
    }
  }
}
</script>
