<template lang="html">
  <div class="wrapper">
    <Modal
    :active="message"
    @closeModal="message = false">
      <div
        class="notification is-success"
        v-if="message"
        style="margin-bottom: 1em;">
        <button class="delete" @click="clearAll"></button>
        <p class="subtitle"> Tema Criado com sucesso </p>
      </div>
    </Modal>
    <section class="section">
      <h1 class="title has-text-centered"> Criar Tema </h1>
      <form action="#" class="form">
        <p class="control">
          <label for="name" class="label">
            Digite um título para o tema, por convenção, não use acentos e cecidilha
          </label>
          <input id="name" type="text" class="input is-medium" v-model="title">
        </p>
        <p class="control">
          <label for="description" class="label">
            Digite uma descrição para o mesmo
          </label>
          <textarea id="description" class="textarea is-medium" v-model="description"></textarea>
        </p>
        <p class="control">
          <label for="chooseColorFont" class="label"> Escolha a cor de fundo do topo da tela do tema </label>
          <input type="color" id="chooseColorBg" v-model="chooseColorBg">
        </p>
        <p class="control">
          <label for="chooseColorBg" class="label"> Escolha a cor da fonte do topo da tela do tema </label>
          <input type="color" id="chooseColorFont" v-model="chooseColorFont">
        </p>
        <p class="subtitle"> Preview </p>
        <Preview :bg="chooseColorBg" :font="chooseColorFont" :title="title" />
        <p class="control">
          <label for="dicotomia" class="label"> Selecione a dicotomia do seu tema </label>
          <span class="select is-medium is-fullwidth">
            <select id="dicotomia" v-model="chooseDichotomy">
              <option :value="0"> 1) Sim 2) Não </option>
              <option :value="1"> 1) A favor 2) Contra </option>
              <option :value="2"> 1) Gosto 2) Não Gosto </option>
              <option :value="3"> 1) Curto 2) Não Curto </option>
              <option :value="4"> 1) Voto 2) Não Voto </option>
              <option :value="5"> 1) Acredito 2) Não Acredito </option>
              <option :value="6"> 1) Apoio 2) Não apoio </option>
              <option :value="7"> 1) Concordo 2) Discordo </option>
            </select>
          </span>
        </p>
        <p class="control">
          <label for="dicotomia" class="label"> Selecione a categoria ao qual este tema pertence </label>
          <span class="select is-medium is-fullwidth">
            <select id="dicotomia" v-model="chooseCategory">
              <option :value="0"> Política </option>
              <option :value="1"> Religião </option>
              <option :value="2"> Educação </option>
            </select>
          </span>
        </p>
        <button class="button is-medium is-success" @click.prevent="sendTheme">
          Criar Tema
        </button>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" v-if="loading"></i>
      </form>
    </section>
  </div>
</template>

<script>
import { createUid, dichotomies, categories } from '../helpers'
import { createTheme } from '../services/firebase/database'
import { createThemePontuation } from '../services/firebase/database/gamification'

export default {
  data () {
    return {
      loading: false,
      title: '',
      description: '',
      chooseColorBg: '#000000',
      chooseColorFont: '#FFFFFF',
      message: false,
      chooseDichotomy: 0,
      chooseCategory: 0
    }
  },
  computed: {
    valid () {
      if (this.titleClear === '' || this.description === '' || this.chooseColorBg === '' || this.chooseColorFont === '') {
        return false
      }
      return true
    },
    titleClear () {
      return createUid(this.clearString(this.title))
    },
    dichotomy () {
      return dichotomies[this.chooseDichotomy]
    },
    category () {
      return categories[this.chooseCategory]
    }
  },
  head: {
    title: {
      inner: 'Criar tema'
    }
  },
  methods: {
    clearString (string) {
      const map = {
        '~': '',
        '´': '',
        '`': '',
        '^': '',
        'â': 'a',
        'Â': 'A',
        'à': 'a',
        'À': 'A',
        'á': 'a',
        'Á': 'A',
        'ã': 'a',
        'Ã': 'A',
        'ê': 'e',
        'Ê': 'E',
        'è': 'e',
        'È': 'E',
        'é': 'e',
        'É': 'E',
        'î': 'i',
        'Î': 'I',
        'ì': 'i',
        'Ì': 'I',
        'í': 'i',
        'Í': 'I',
        'õ': 'o',
        'Õ': 'O',
        'ô': 'o',
        'Ô': 'O',
        'ò': 'o',
        'Ò': 'O',
        'ó': 'o',
        'Ó': 'O',
        'ü': 'u',
        'Ü': 'U',
        'û': 'u',
        'Û': 'U',
        'ú': 'u',
        'Ú': 'U',
        'ù': 'u',
        'Ù': 'U',
        'ç': 'c',
        'Ç': 'C'
      }
      return string.replace(/[\W\]]/g, a => map[a] || a)
    },
    sendTheme () {
      const created = new Date().getTime()
      const uidUser = this.$store.state.user.uid
      if (this.valid) {
        createTheme({
          description: this.description,
          name: this.title,
          uid: this.titleClear,
          favorVotes: 0,
          notFavorVotes: 0,
          dichotomy: this.dichotomy,
          bgColor: this.chooseColorBg,
          fontColor: this.chooseColorFont,
          category: this.category.name,
          author: uidUser,
          created
        })
        .then(_ => {
          Promise
            .all(createThemePontuation(uidUser))
            .then(_ => {
              this.loading = false
              this.message = true
              this.clearAll()
              this.showToast()
            })
        })
        .catch(err => {
          console.log(err)
        })
      }
    },
    clearAll () {
      this.title = ''
      this.description = ''
      this.chooseDichotomy = 0
      this.chooseCategory = 0
      this.chooseColorBg = '#000000'
      this.chooseColorFont = '#FFFFFF'
    },
    showToast () {
      this.$store.dispatch('showToast', {
        msg: 'Você ganhou 10 pontos',
        show: true,
        theme: 'is-success'
      })
    }
  }
}
</script>

<style lang="css" scoped>
  .section {
    background-color: transparent;
  }
  .form {
    width: 60%;
    margin: 0 auto;
  }
  .label {
    font-size: 1.1em;
  }
  @media screen and (max-width: 768px) {
    .form { width: 100%; }
  }
</style>
