<template lang="html">
  <div class="wrapper">
    <DeckArguments />
  </div>
</template>

<script>
import DeckArguments from './DeckArguments/Main'

export default {
  name: 'Deck-Arguments',
  components: { DeckArguments },
  head: {
    title: {
      inner: 'Meu deck'
    }
  }
}
</script>

<style lang="css">
</style>
