<template lang="html">
  <section class="edited-profile">
    <h1 class="title has-text-centered"> Editar perfil </h1>

    <div
      class="notification is-success"
      v-if="success">
      <button class="delete" @click="success = false"></button>
      <p class="subtitle has-text-centered"> Dados atualizados com sucesso </p>
    </div>

    <div
      class="notification loading"
      v-if="loading">
      <span class="icon is-medium">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </span>
      <p class="subtitle has-text-centered"> Atulizando dados </p>
    </div>

    <article class="tile is-ancestor">
      <div class="tile is-6 is-vertical is-parent">
        <div class="tile is-child box">
          <Avatar :url="avatar" lenght="large" />
        </div>
        <personal-data :user="user" @result="updatePersonalData" />
      </div>
      <shared-data :user="user" @result="updateSharedData" @confirm="editProfile" />
    </article>
  </section>
</template>

<script>
import PersonalData from './EditedProfile/PersonalData'
import SharedData from './EditedProfile/SharedData'
import { database } from '../services/firebase/database'

export default {
  name: 'EditedProfile',
  components: { PersonalData, SharedData },
  computed: {
    user () {
      return this.$store.state.user
    },
    avatar () {
      return this.user.photo
    }
  },
  data () {
    return {
      personalData: {},
      sharedData: {},
      loading: false,
      success: false
    }
  },
  methods: {
    updatePersonalData () {
      const obj = arguments[0]
      this.personalData = { ...obj }
    },
    updateSharedData () {
      const obj = arguments[0]
      this.sharedData = { ...obj }
    },
    editProfile () {
      const uid = this.user.uid
      const name = this.personalData.name
      const email = this.personalData.email
      const shared = this.sharedData
      const updates = {}
      updates[`users/${uid}/name/`] = name
      updates[`users/${uid}/email/`] = email
      updates[`users/${uid}/shared/`] = shared
      console.log(updates)
      this.loading = true
      database.ref().update(updates)
        .then(result => {
          console.log(result)
          this.loading = false
          this.success = true
        })
        .catch(err => {
          console.log(err)
        })
    }
  }
}
</script>
