<template>
  <div
    class="dashboard"
    @keyup.27="removePopUp">
    <user-info />
    <platform-info />
    <ponts />
    <Modal :active="!isLogged">
      <div class="box content">
        <h1 class="title has-text-centered"> Esta área é especifica para usuários </h1>
        <FaceButton style="display: block; margin: 0 auto 1em auto;"/>
        <p>
          <router-link to="/ranking"> Conheça o ranking de usuários de nossa plataforma </router-link>
        </p>
        <p>
          <router-link to="/themes"> Conheça os temas disponíveis para debate </router-link>
        </p>
      </div>
    </Modal>
  </div>
</template>

<script>
import UserInfo from './Home/UserInfo'
import PlatformInfo from './Home/PlatformInfo'
import Ponts from './Home/Ponts'

export default {
  name: 'home',
  components: { UserInfo, PlatformInfo, Ponts },
  computed: {
    url: _ => document.URL,
    isLogged () {
      return !this.$isEmpty(this.$store.state.user)
    }
  },
  methods: {
    removePopUp () {
      this.$store.dispatch('hasLogged', '')
    }
  },
  head: {
    title: {
      inner: 'Home'
    },
    meta () {
      return [
        // Share in Facebook
        {
          property: 'og:url',
          content: this.url
        },
        {
          property: 'og:title',
          content: 'Debate3D'
        },
        {
          property: 'og:description',
          content: 'Os melhores argumentos, diferentes perspectivas: uma visão 3D da sociedade'
        },
        {
          property: 'fb:app_id',
          content: '1912094239025418'
        },
        // Share schema.org
        {
          itemprop: 'name',
          content: 'Debate3D'
        },
        {
          itemprop: 'description',
          content: 'Os melhores argumentos, diferentes perspectivas: uma visão 3D da sociedade'
        },
        // Share twitter
        {
          name: 'twitter:url',
          content: this.url
        },
        {
          name: 'twitter:title',
          content: 'Debate3D'
        },
        {
          name: 'twitter:description',
          content: 'Os melhores argumentos, diferentes perspectivas: uma visão 3D da sociedade'
        }
      ]
    }
  }
}
</script>
