<template lang="html">
  <div>
    <section class="list-themes">
      <h1 class="title has-text-centered"> Temas disponíveis </h1>
      <div
        class="list-themes__section"
        :style="{ 'background-color': category.color }"
        v-for="category in categories">
        <div>
          <h2 class="subtitle is-4 has-text-centered"> {{ category.title }} </h2>
          <div class="columns is-multiline">
            <div class="column is-4" v-for="theme in category.themes">
              <box-theme :theme="theme"></box-theme>
            </div>
          </div>
          <router-link tag="button" :to="`categories/${category.name}`" class="button is-medium">
            Mais temas
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { categories } from '../helpers'

export default {
  data () {
    return {
      search: ''
    }
  },
  computed: {
    categories () {
      if (this.$store.state.themes === undefined) return {}
      const themes = Object.values(this.$store.state.themes)
      return categories
        .map(category => {
          const filter = themes.filter(obj => obj.category === category.name)
          return {
            name: category.name,
            title: category.namePt,
            color: category.color,
            themes: filter.slice(0, 3)
          }
        })
    }
  },
  head: {
    title: {
      inner: 'Lista de temas'
    }
  }
}
</script>
