<template lang="html">
  <section class="themes-category">
    <header class="themes-category__header" :class="category.name">
      <h1
        class="title is-1 has-text-centered"> {{ category.namePt | capitalize }} </h1>
      <p class="themes-category__header__blockquote"> &ldquo;{{ category.description }}&rdquo; </p>
    </header>
    <article class="wrapper">
      <p class="control">
        <label for="search" class="is-hidden" hidden> Pesquise por um tema </label>
        <input
          type="text"
          id="search"
          class="input is-medium"
          placeholder="Pesquise por um tema"
          v-model="search">
      </p>
      <p
        class="subtitle has-text-centered"
        v-if="themesForCategory.length === 0"> Esta categoria não possui temas ainda </p>
      <div class="columns is-multiline wrapper">
        <div class="column is-4" v-for="theme in themesSearch">
          <box-theme :theme="theme"></box-theme>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import { categories } from '../helpers'

export default {
  data () {
    return {
      search: ''
    }
  },
  computed: {
    themesSearch () {
      if (!this.search.length) return this.themesForCategory
      return Object.values(this.themesForCategory)
        .filter(item =>
          item.name.toLowerCase().indexOf(this.search.toLowerCase()) !== -1)
    },
    themesForCategory () {
      const themes = this.$store.state.themes
      return Object.values(themes)
        .filter(item =>
          item.category === this.$route.params.category)
    },
    category () {
      const param = this.$route.params.category
      const categoryFilter = categories.filter(obj => obj.name === param)
      return categoryFilter[0]
    },
    categoryName () {
      if (this.category !== undefined) return this.category.namePt
    },
    title () {
      return `Temas de ${this.categoryName}`
    },
    description () {
      return `Venha conferir os temas da categoria ${this.categoryName}`
    },
    url: _ => document.URL
  },
  head: {
    title () {
      return {
        inner: `${this.categoryName}`
      }
    },
    // Share in Facebook
    meta () {
      return [
        {
          property: 'og:url',
          content: this.url
        },
        {
          property: 'og:title',
          content: this.title
        },
        {
          property: 'og:description',
          content: this.description
        },
        {
          property: 'fb:app_id',
          content: '1912094239025418'
        },
        // Share schema.org
        {
          itemprop: 'name',
          content: this.title
        },
        {
          itemprop: 'description',
          content: this.description
        },
        // Share twitter
        {
          name: 'twitter:url',
          content: this.url
        },
        {
          name: 'twitter:title',
          content: this.title
        },
        {
          name: 'twitter:description',
          content: this.description
        }
      ]
    }
  }
}
</script>
