<template lang="html">
  <div class="wrapper">
    <MainArguments />
  </div>
</template>

<script>
import MainArguments from './MyArguments/Main'

export default {
  name: 'My-Arguments',
  components: { MainArguments },
  head: {
    title: {
      inner: 'Meus cards'
    }
  }
}
</script>

<style lang="css">
</style>
