<template lang="html">
  <div class="wrapper content">
    <span class="icon is-medium"><i class="fa fa-balance-scale"></i></span>
    <h1 class="has-text-centered"> Termos de Uso  </h1>
    <hr>
    <p>
      O website <a href="https://www.debate3d.com.br">www.debate3d.com.br</a> é um serviço interativo oferecido em por meio de página eletrônica na internet que desenvolve ambiente para discussões focado em argumentos e posicionamentos ideológicos, a partir da integração de diversas fontes de informação. O acesso ao DEBATE3D representa a aceitação expressa e irrestrita dos termos de uso abaixo descritos. Se você não concorda com os termos, por favor, não acesse nem utilize este website.
    </p>
    <p>
      O visitante poderá usar este site apenas para finalidades lícitas. Este espaço não poderá ser utilizado para publicar, enviar, distribuir ou divulgar conteúdos ou informação de caráter difamatório, obsceno ou ilícito, inclusive informações de propriedade exclusiva pertencentes a outras pessoas ou empresas, bem como marcas registradas ou informações protegidas por direitos autorais, sem a expressa autorização do detentor desses direitos. O visitante poderá usar o site <a href="https://www.debate3d.com.br">www.debate3d.com.br</a> para obter ou divulgar informações pessoais, inclusive endereços na Internet, sobre os usuários do site.
    </p>
    <p>
      O DEBATE3D empenha-se em manter a qualidade, atualidade e autenticidade das informações do site, mas seus criadores e colaboradores não se responsabilizam por eventuais falhas nos serviços ou inexatidão das informações oferecidas. O usuário não deve ter como pressuposto que tais serviços e informações são isentos de erros ou serão adequados aos seus objetivos particulares. Os criadores e colaboradores tampouco assumem o compromisso de atualizar as informações, e reservam-se o direito de alterar as condições de uso ou preços dos serviços e produtos oferecidos no site a qualquer momento.
    </p>
      O acesso ao site <a href="https://www.debate3d.com.br">www.debate3d.com.br</a> é gratuito. O DEBATE3D poderá criar áreas de acesso exclusivo aos seus clientes ou para terceiros especialmente autorizados por meio de parcerias, contratos de assinatura ou outro meio.
      Os criadores e colaboradores do DEBATE3D poderão a seu exclusivo critério e em qualquer tempo, modificar ou desativar o site, bem como limitar, cancelar ou suspender seu uso ou o acesso. Também estes Termos de Uso poderão ser alterados a qualquer tempo. Visite regularmente esta página e consulte  os Termos então vigentes. Algumas disposições destes Termos podem ser substituídas por termos ou avisos legais expressos localizados em determinadas páginas deste site.
    </p>

    <h2> Erros e falhas </h2>
    <p>
      Os documentos, informações, imagens e gráficos publicados neste site podem conter imprecisões técnicas ou erros tipográficos. Em nenhuma hipótese o DEBATE3D e/ou seus respectivos fornecedores serão responsáveis por qualquer dano direto ou indireto decorrente da impossibilidade de uso, perda de dados ou lucros, resultante do acesso e desempenho do site, dos serviços oferecidos ou de informações disponíveis neste site. O acesso aos serviços, materiais, informações e facilidades contidas neste website não garante a sua qualidade.
    </p>

    <h2> Limitação da responsabilidade </h2>
    <p>
      Os materiais são fornecidos neste website sem nenhuma garantia explícita ou implícita de comercialização ou adequação a qualquer objetivo específico. Em nenhum caso o DEBATE3D ou os seus colaboradores serão responsabilizados por quaisquer danos, incluindo lucros cessantes, interrupção de negócio, ou perda de informação que resultem do uso ou da incapacidade de usar os materiais. O DEBATE3D não garante a precisão ou integridade das informações, textos, gráficos, links e outros itens dos materiais.
    </p>
    <p>
      O DEBATE3D não se responsabiliza pelo conteúdo dos artigos e informações aqui publicadas, uma vez que os textos são de autoria de terceiros e não traduzem, necessariamente, a opinião do website.
    </p>
    <p>
      O DEBATE3D tampouco é responsável pela violação de direitos autorais decorrente de informações, documentos e materiais publicados neste website, compromentendo-se a retirá-los do ar assim que notificado da infração.
    </p>

    <h2> Informações enviadas pelos usuários e colaboradores </h2>
    <p>
      Qualquer material, informação, artigos ou outras comunicações que forem transmitidas, enviadas  ou publicadas neste site serão considerados informação não confidencial, e qualquer violação aos direitos dos seus criadores não será de responsabilidade do DEBATE3D. É terminantemente proibido transmitir, trocar ou publicar, através deste website, qualquer material de cunho obsceno, difamatório ou ilegal, bem como textos ou criações de terceiros sem a autorização do autor. O DEBATE3D reserva-se o direito de restringir o acesso às informações enviadas por terceiros aos seus usuários.
    </p>
    <p>
      O DEBATE3D poderá, mas não é obrigado, a monitorar, revistar e restringir o acesso a qualquer área no site onde usuários transmitem e trocam informações entre si, podendo retirar do ar ou retirar o acesso a qualquer destas informações ou comunicações.  Porém, o DEBATE3D não é responsável pelo conteúdo de qualquer uma das informações trocadas entre os usuários, sejam elas lícitas ou ilícitas.
    </p>

    <h2> Links para sites de terceiros </h2>
    <p>
      Os sites apontados não estão sob o controle do DEBATE3D que não é responsável pelo conteúdo de qualquer outro website indicado ou acessado por meio do <a href="https://www.debate3d.com.br">www.debate3d.com.br</a>. reserva-se o direito de eliminar qualquer link ou direcionamento a outros sites ou serviços a qualquer momento. O DEBATE3D não endossa firmas ou produtos indicados, acessados ou divulgados através deste website, tampouco pelos anúncios aqui publicados, reservando-se o direito de publicar este alerta em suas páginas eletrônicas sempre que considerar necessário.
    </p>

    <h2> Direitos autorais e propriedade intelectual </h2>
    <p>
      Os documentos, conteúdos e criações contidos neste website pertencem aos seus criadores e colaboradores. A autoria dos conteúdos, material e imagens exibidos no <a href="https://www.debate3d.com.br">www.debate3d.com.br</a> é protegida por leis nacionais e internacionais. Não podem ser copiados, reproduzidos, modificados, publicados, atualizados, postados, transmitidos ou distribuídos de qualquer maneira sem autorização prévia e por escrito do DEBATE3D.
    </p>
    <p>
      As imagens contidas neste website são aqui incorporadas apenas para fins de visualização, e, salvo autorização expressa por escrito, não podem ser gravadas ou baixadas via download. A reprodução ou armazenamento de materiais recuperados a partir deste serviço sujeitará os infratores às penas da lei.
    </p>
      O nome do site (DEBATE3D), seu logotipo, o nome de domínio para acesso na Internet (<a href="https://www.debate3d.com.br">www.debate3d.com.br</a>), bem como todos os elementos característicos da tecnologia desenvolvida e aqui apresentada, sob a forma da articulação de bases de dados, constituem marcas registradas e propriedades intelectuais privadas e todos os direitos decorrentes de seu registro são assegurados por lei. Alguns direitos de uso podem ser cedidos por DEBATE3D em contrato ou licença especial, que pode ser cancelada a qualquer momento se não cumpridos os seus termos.
    </p>
    <p>
      As marcas registradas Do DEBATE3D só podem ser usadas publicamente com autorização expressa. O uso destas marcas registradas em publicidade e promoção de produtos deve ser adequadamente informado.
    </p>
    <p>
      Reclamações sobre violação de direitos autorais
      O DEBATE3D respeita a propriedade intelectual de outras pessoas ou empresas e solicitamos aos nossos membros que façam o mesmo. Toda e qualquer violação de direitos autorais deverá ser notificada ao DEBATE3D e acompanhada dos documentos e informações que confirmam a autoria. A notificação poderá ser enviada pelos e-mails constantes do site ou via postal para o seguinte endereço debated3d@gmail.com.
    </p>

    <h2> Leis aplicáveis </h2>
    <p>
      Este site é controlado e operado por  <a href="http://emanuelgdev.com.br">Emanuel Goncalves</a> apartir de seu escritório na cidade de Duque de Caxias estado de Rio de Janeiro e não garante que o conteúdo ou materiais estejam disponíveis para uso em outras localidades. Seu acesso é proibido em territórios onde o conteúdo seja considerado ilegal. Aqueles que optarem por acessar este site a partir de outras localidades o farão por iniciativa própria e serão responsáveis pelo cumprimento das leis locais aplicáveis. Os materiais não deverão ser usados ou exportados em descumprimento das leis brasileiras sobre exportação. Qualquer pendência com relação aos materiais será dirimida pelas leis brasileiras.
      O acesso ao <a href="https://www.debate3d.com.br">www.debate3d.com.br</a> representa a aceitação expressa e irrestrita dos termos de uso acima descritos.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Termos-de-Uso'
}
</script>

<style media="screen" lang="sass" scoped>
  .wrapper
    padding: 2em 1em

  .icon.is-medium
    display: block
    margin: 0 auto

  p
    font-size: 1.1rem
</style>
