<template lang="html">
  <section class="profile">
    <h1 class="title has-text-centered"> {{ user.name }} </h1>
    <article>
      <header class="profile__header">
        <Avatar :url="avatar" lenght="large"/>
        <p class="subtitle"> Email: {{ user.email }} </p>
        <p class="subtitle"> Membro desde: {{ user.created | moment('DD/MM/YYYY') }} </p>
        <p class="subtitle"> Pontos: {{ user.ponts }} </p>
      </header>

      <div class="profile__section">
        <p class="subtitle has-text-centered" v-if="isShared"> Links sociais </p>

        <shared-links v-if="isShared" :shared="user.shared" :name="name" />

        <p class="subtitle has-text-centered" v-if="themes !== null"> Temas do usuário </p>
        <div class="columns is-multiline is-centered" v-if="themes !== null">
          <div class="column is-6" v-for="theme in themes">
            <box-theme :theme="theme" />
          </div>
        </div>

        <p class="subtitle has-text-centered" v-if="hasCards"> Cards do usuário </p>
        <cards :user="user" v-if="hasCards" />
      </div>
    </article>
  </section>
</template>

<script>
import { database } from '../services/firebase/database'
import SharedLinks from './Home/SharedLinks'
import Cards from './Profile/Cards'

export default {
  components: { SharedLinks, Cards },
  data () {
    return {
      user: {},
      themes: {}
    }
  },
  computed: {
    avatar () {
      return this.user.photo
    },
    name () {
      return this.user.name
    },
    isShared () {
      if (this.user.shared !== undefined) return true
      return false
    },
    hasCards () {
      if (this.user.arguments !== undefined) return true
      return false
    }
  },
  mounted () {
    const user = this.$route.params.user
    database.ref('users').child(user).once('value', snap => {
      this.user = snap.val()
    })
    database.ref('themes').orderByChild('author').equalTo(user).once('value', snap => {
      this.themes = snap.val()
    })
  }
}
</script>
