<template lang="html">
  <div class="ranking-users">
    <h1 class="title has-text-centered"> Ranking de usuários </h1>
    <p class="subtitle has-text-centered" v-if="$isEmpty(users)"> Carregando Ranking </p>
    <div class="columns is-centered">
      <transition-group name="list" class="column is-6" tag="div">
        <UserList
          v-for="(user, key) in users"
          :key="key"
          :rank="key"
          :user="user"
          :showRank="true" />
      </transition-group>
    </div>
  </div>
</template>

<script>
import { getUsersPont } from '../services/firebase/database'
import sortby from 'lodash.sortby'

export default {
  name: 'ranking-users',
  data () {
    return {
      users: {}
    }
  },
  mounted () {
    getUsersPont()
      .then(data => {
        this.users = sortby(data.val(), [value => {
          if ((!value.ponts)) return 0
          return value.ponts
        }]).reverse()
      })
      .catch(err => {
        console.log(err)
      })
  }
}
</script>
