<template lang="html">
  <div class="wrapper">
    <section class="section">
      <h1 class="title has-text-centered"> Seja um assinante! </h1>
      <div class="content is-medium">
        <p> Sabe quais os privilégios de um assinante? </p>
        <ul>
          <li> Poder criar temas para discussão ilimitadamente </li>
          <li> Poder criar cards para votação ilimitadamente </li>
        </ul>
        <p> Por enquanto, como a plataforma está em versão de testes, ainda não cobramos para o uso da plataforma no modo assinante, basta ter o cupom promocional e você poderá se tornar um durante um ano! </p>
        <p class="control" v-if="!isCupomUsed">
          <label for="cupom" class="label"> Digite o cupom e ganhe desconto! </label>
          <input type="password" class="input is-medium" id="cupom" v-model="cupomText">
        </p>
        <button
           v-if="!isCupomUsed"
          class="button is-medium is-success"
          @click="useCupom"> Usar cupom </button>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" v-if="loading"></i>
        <span class="subtitle" v-if="isCupomUsed"> Cupom usado com sucesso </span>
      </div>
    </section>
  </div>
</template>

<script>
import { database } from '../services/firebase/database'

export default {
  data () {
    return {
      cupomText: '',
      loading: false,
      isCupomUsed: false
    }
  },
  firebase () {
    return {
      cupom: {
        source: database.ref('cupom'),
        asObject: true
      }
    }
  },
  head: {
    title: {
      inner: 'Seja um assinante'
    }
  },
  methods: {
    useCupom () {
      const cupomUser = this.cupomText
      const cupomDatabase = this.cupom.value
      const userActual = this.$store.state.user.uid
      const ref = database.ref()
      const dateNow = new Date()
      const datePlusYear = new Date()
      datePlusYear.setFullYear(dateNow.getFullYear() + 1)
      const now = dateNow.getTime()
      const afterYear = datePlusYear.getTime()
      const updates = {}
      if (cupomUser !== '') {
        if (cupomUser === cupomDatabase) {
          this.loading = true
          updates[`users/${userActual}/isSubscriber`] = true
          updates[`users/${userActual}/usedCupom`] = true
          updates[`users/${userActual}/subscribe`] = {
            time: 'Um ano',
            dateSubscribed: now,
            willExpired: afterYear,
            expired: false
          }
          database
            .ref('cupom/peoples')
            .transaction(currentData => currentData + 1)
          ref
            .update(updates)
            .then(_ => {
              window.setTimeout(_ => {
                this.loading = false
                this.isCupomUsed = true
                this.cupomText = ''
              }, 1000)
            })
            .catch(err => {
              console.log(err)
            })
        }
      }
      document.getElementById('cupom').focus()
    }
  }
}
</script>

<style lang="css" scoped>
  .section {
    max-width: 60%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media screen and (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
</style>
