<template lang="html">
  <div class="wrapper">
    <DashSection :theme="theme"/>
    <ShowLogged />
  </div>
</template>

<script>
import DashSection from './ThemeDashboard/Section'

export default {
  name: 'DashboardTheme',
  components: { DashSection },
  computed: {
    theme () {
      return this.$route.params.theme
    },
    nameTheme () {
      const themes = this.$store.state.themes
      if (themes[this.theme] !== undefined) return themes[this.theme].name
    },
    url: _ => document.URL,
    title () {
      if (this.nameTheme !== undefined) return `Tema - ${this.nameTheme}`
    },
    description () {
      return `Venha conferir qual a opinião das pessoas acerca da(o) ${this.nameTheme}`
    }
  },
  head: {
    title () {
      return {
        inner: this.title
      }
    },

    // Share in Facebook
    meta () {
      return [
        {
          property: 'og:url',
          content: this.url
        },
        {
          property: 'og:title',
          content: this.title
        },
        {
          property: 'og:description',
          content: this.description
        },
        {
          property: 'fb:app_id',
          content: '1912094239025418'
        },
        // Share schema.org
        {
          itemprop: 'name',
          content: this.title
        },
        {
          itemprop: 'description',
          content: this.description
        },
        // Share twitter
        {
          name: 'twitter:url',
          content: this.url
        },
        {
          name: 'twitter:title',
          content: this.title
        },
        {
          name: 'twitter:description',
          content: this.description
        }
      ]
    }
  }
}
</script>
