<template lang="html">
  <div
    tabindex="0"
    class="modal"
    :class="{'is-active' : active}">
    <div
      class="modal-background"
      @click="$emit('closeModal')"
      :style="{ 'background-color': bgColor }"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title has-text-centered"> Registre seu card </h2>
        <form action="#">
          <Position
            :dichotomy="dichotomy"
            @selectPosition="position = arguments[0]" />
          <p class="control">
            <label for="messageTheme" class="label"> Digite seu argumento </label>
            <textarea
              name="name"
              class="textarea is-medium"
              id="messageTheme"
              maxlength="1000"
              placeholder="Digite aqui seu argumento"
              v-model="argument"></textarea>
            <span class="textarea__number"> {{ textarea__number }} </span>
          </p>
          <button
            class="button is-medium is-success"
            type="button"
            @click="confirmArgument"> Criar card </button>
        </form>
      </div>
    </div>
    <button
      class="modal-close"
      @click="$emit('closeModal')"></button>
  </div>
</template>

<script>
import Position from './Position'

export default {
  props: ['active', 'dichotomy'],
  name: 'argument-main',
  components: { Position },
  data () {
    return {
      argument: '',
      position: 0
    }
  },
  computed: {
    textarea__number () {
      const digited = this.argument.length
      return `${digited} / ${1000 - digited} caracteres`
    },
    bgColor () {
      if (this.position === 0) return 'rgba(0, 152, 218, .8)'
      return 'rgba(219, 52, 56, .8)'
    }
  },
  methods: {
    confirmArgument () {
      if (!this.$isEmpty(this.argument)) {
        this.$emit('success', this.nameTheme, this.argument, this.position)
        return
      }
      document.getElementById('messageTheme').focus()
    }
  }
}
</script>

<style media="screen" scoped>
  .textarea__number {
    position: absolute;
    bottom: -1.5em;
    right: 0;
  }
</style>
