<template lang="html">
  <aside class="theme__info">
    <Avatar :url="avatar"/>
    <p class="subtitle"> Autor:
      <router-link :to="`/user/${theme.author}`">
        {{ author }}
      </router-link>
    </p>
    <p class="subtitle"> Categoria: {{ categoria }} </p>
    <!-- <p class="subtitle"> Criado em {{ tema.dateCreate | moment('DD/MM/YYYY') }} </p> -->
  </aside>
</template>

<script>
import { database } from '../../services/firebase/database'
import { categories } from '../../helpers'

export default {
  props: ['theme'],
  data () {
    return {
      avatar: '',
      author: ''
    }
  },
  computed: {
    categoria () {
      if (this.theme !== undefined) {
        const categoria = categories.filter(item => item.name === this.theme.category)
        if (categoria[0] !== undefined) return categoria[0].namePt
      }
    }
  },
  mounted () {
    if (this.theme !== undefined && this.theme.author !== undefined) {
      const author = this.theme.author
      database.ref('users').child(author).child('photo').once('value', snap => {
        this.avatar = snap.val()
      })
      database.ref('users').child(author).child('name').once('value', snap => {
        this.author = snap.val()
      })
    }
  }
}
</script>
