<template lang="html">
  <p class="control">
    <label for="position" class="label"> Sua posição com relação ao tema </label>
    <span class="select is-medium is-fullwidth">
      <select v-model="position">
        <option :value="0"> {{ dichotomy.positive }} </option>
        <option :value="1"> {{ dichotomy.negative }} </option>
      </select>
    </span>
  </p>
</template>

<script>
export default {
  props: ['dichotomy'],
  data () {
    return {
      position: 0
    }
  },
  watch: {
    position () {
      this.$emit('selectPosition', this.position)
    }
  }
}
</script>
