<template lang="html">
  <article>
    <p class="subtitle"> {{ message }} </p>
    <div class="block-flex-wraped">
      <CardArgument
         v-for="ideia in argumentsOrdered"
        :nomeDoTema="theme.name"
        :ideia="ideia" />
    </div>
  </article>
</template>

<script>
import { argumentsForTheme } from '../../services/firebase/database'
import sortby from 'lodash.sortby'
import cloneDeep from 'lodash.clonedeep'

export default {
  props: ['theme'],
  data () {
    return {
      argumentos: {}
    }
  },
  computed: {
    numberCards () {
      if (this.argumentos === null) return 0
      return Object.values(this.argumentos).length
    },
    message () {
      if (this.numberCards) return `O tema possui ${this.numberCards} cards`
      return 'O tema não possui argumetos ainda'
    },
    argumentsOrdered () {
      return sortby(this.argumentos, [value => {
        if ((!value.favorVotes) || (!value.favorVotes.length)) return 0
        return value.favorVotes.length
      }]).reverse()
    }
  },
  mounted () {
    argumentsForTheme(this.theme.uid)
      .on('value', data => {
        this.argumentos = cloneDeep(data.val())
      })
  }
}
</script>
