<template lang="html">
  <section class="theme">
    <h1 class="theme__title"> {{ tema.name }} </h1>
    <article class="theme__article">
      <info :theme="tema" />
      <div class="theme__content">
        <p class="subtitle"> &ldquo;{{ tema.description }}&rdquo; </p>
        <p class="subtitle"> OBS: Só é possível anexar um card por tema </p>
        <p class="subtitle" v-if="argumented"> Você já possui um card anexado a este tema! </p>
      </div>
    </article>
    <div class="theme__actions">
      <Vote :theme="tema" />
      <h2 class="subtitle has-text-centered"> Saiba como está este tema </h2>
      <ProgressTheme :theme="tema" />
      <p class="subtitle has-text-centered"> Quer deixar registrado sua ideia? </p>
      <button
        v-if="!argumented && hasLogged"
        type="button"
        class="button is-medium is-info"
        @click="active = true"> Criar um card </button>
    </div>
    <hr>
    <Notification
      v-if="notification"
      @closeNotification="notification = false;"/>
    <FormCreateArgument
      v-if="!argumented"
      :active="active"
      :dichotomy="dichotomy"
      @success="createArgument"
      @closeModal="active = false"/>

      <h2 class="title"> Ranking de cards </h2>
      <Ranking :theme="tema" v-if="ranking"/>
    </div>
  </section>
</template>

<script>
import Vote from './Vote'
import FormCreateArgument from './Form'
import Ranking from './SectionsRanking'
import Notification from './Notification'
import Info from './Info'
import {
  updateWithArgument,
  voteTheme,
  database
} from '../../services/firebase/database'
import {
  createCardPontuation
} from '../../services/firebase/database/gamification'

export default {
  props: ['theme'],
  components: { FormCreateArgument, Ranking, Notification, Vote, Info },
  data () {
    return {
      notification: false,
      ranking: false,
      active: false
    }
  },
  computed: {
    tema () {
      if (this.$isEmpty(this.$store.state.themes)) {
        return {
          name: 'Carregando...',
          description: 'Aguarde enquanto o tema está sendo carregado'
        }
      }
      this.ranking = true
      return this.$store.state.themes[this.theme]
    },
    argumented () {
      if (this.$store.state.user.isSubscriber) return false
      if (this.$store.state.user.arguments !== undefined) {
        return !this.$isEmpty(this.$store.state.user.arguments[this.theme])
      }
      return false
    },
    dichotomy () {
      if (this.tema.dichotomy) return this.tema.dichotomy
      return {}
    },
    hasLogged () {
      return !this.$isEmpty(this.$store.state.user)
    }
  },
  methods: {
    createArgument () {
      const refArgument = database.ref('arguments').push()
      const uid = refArgument.key
      const position = (arguments[2]) ? 0 : 1
      const dateCreate = new Date().getTime()
      const author = this.$store.state.user.name
      const uidAuthor = this.$store.state.user.uid
      const avatar = this.$store.state.user.photo
      const uidTheme = this.theme
      const themeAuthor = this.tema.author
      const argument = {
        avatar,
        uid,
        uidAuthor,
        uidTheme,
        content: arguments[1],
        author,
        dateCreate,
        favorVotes: [],
        notFavorVotes: [],
        favorites: [],
        time: 0,
        position: (arguments[2]) ? this.dichotomy.negative : this.dichotomy.positive,
        positioning: arguments[2]
      }
      refArgument
      .set(argument)
      .then(() => {
        updateWithArgument(uid, uidAuthor, uidTheme)
        .then(() => {
          voteTheme(this.tema.uid, position, this.tema)
          this.notification = true
          this.active = false
          Promise
            .all(createCardPontuation(uidAuthor, themeAuthor))
            .then(
              this.$store.dispatch('showToast', {
                msg: 'Você ganhou 5 pontos',
                show: true,
                theme: 'is-success'
              })
            )
        })
        .catch(err => {
          console.log(err)
        })
      })
      .catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
