<template>
	<div class="vote"
  @keyup.27="removePopUp">
    <h3 class="subtitle has-text-centered"> Deixe seu voto </h3>
    <div>
      <button
        class="button is-medium favorVote"
        @click="vote(1)"
        :style="favorStyle">
        <span> {{ theme.favorVotes }} </span>
        <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
        <span> {{ dichotomy.positive }} </span>
      </button>

      <button
        class="button is-medium notFavorVote"
        @click="vote(0)"
        :style="notFavorStyle">
        <span> {{ theme.notFavorVotes }} </span>
        <span class="icon"><i class="fa fa-thumbs-o-down"></i></span>
        <span> {{ dichotomy.negative }} </span>
      </button>
    </div>
  </div>
</template>

<script>
import { voteTheme, removeVoteTheme } from '../../services/firebase/database'
import { voteThemePontuation } from '../../services/firebase/database/gamification'

export default {
  props: ['theme'],
  methods: {
    vote (position) {
      const user = this.$store.state.user
      if (this.$isEmpty(user)) {
        console.log('a')
        this.$store.dispatch('hasLogged', 'pop-up')
        return
      }
      if (this.votedPosition === position) return
      if (this.isVoted) removeVoteTheme(position, this.theme, this.theme.uid)
      voteTheme(this.theme.uid, position, this.theme)
      if (!this.isVoted) {
        Promise
          .all(voteThemePontuation(user.uid, this.theme.author))
          .then(() => {
            this.$store.dispatch('showToast', {
              msg: 'Você ganhou 5 pontos',
              show: true,
              theme: 'is-success'
            })
          })
      }
    }
  },
  computed: {
    isVoted () {
      if (this.$store.state.user.voteThemes === undefined) return false
      if (this.$store.state.user.voteThemes[this.theme.uid] === undefined) return false
      return true
    },
    votedPosition () {
      if (this.isVoted) {
        return this.$store.state.user.voteThemes[this.theme.uid]
      }
    },
    favorStyle () {
      if (this.votedPosition === 1) {
        return {
          'background-color': '#0098DA',
          'color': '#FFF'
        }
      }
    },
    notFavorStyle () {
      if (this.votedPosition === 0) {
        return {
          'background-color': '#DB3438',
          'color': '#FFF'
        }
      }
    },
    dichotomy () {
      if (this.theme.dichotomy) return this.theme.dichotomy
      return {}
    }
  }
}
</script>
