<template lang="html">
  <div class="columns is-centered is-multiline">
    <div class="column is-6" v-for="card in cards">
      <CardArgument :ideia="card" />
    </div>
  </div>
</template>

<script>
import { database } from '../../services/firebase/database'

export default {
  props: ['user'],
  data () {
    return {
      cards: {}
    }
  },
  mounted () {
    const uid = this.user.uid
    database
      .ref('arguments/')
      .orderByChild('uidAuthor')
      .equalTo(uid)
      .limitToFirst(5)
      .once('value', snap => {
        this.cards = snap.val()
      })
  }
}
</script>

<style lang="css">
</style>
