<template lang="html">
  <figure
    class="image"
    :style="{ width: lengthAvatar }">
    <img :src="url">
  </figure>
</template>

<script>
export default {
  props: ['url', 'lenght'],
  computed: {
    lengthAvatar () {
      if (this.lenght === 'large') return '6.4em'
      return '4.8em'
    }
  }
}
</script>

<style lang="css" scoped>
  figure.image {
    border-radius: 100%;
    overflow: hidden;
  }
</style>
