<template lang="html">
  <div
    :to="`/themes/${theme.uid}`"
    class="box-theme">
      <span class="subtitle is-4">
        {{ theme.name }}
      </span>

      <div class="box__description">
        <p class="box__description--author">
          <ul>
            <li>
              {{ numberCards }} card(s) cadastrados
            </li>
            <li>
              {{ status.positiva.name }} : {{ status.positiva.value }}
            </li>
            <li>
              {{ status.negativa.name }} : {{ status.negativa.value }}
            </li>
          </ul>
        </p>
        <router-link :to="`/themes/${theme.uid}`" class="button" tag="button">
          Deixe seu voto
        </router-link>
      </div>
  </div>
</template>

<script>
import { database } from '../services/firebase/database'

export default {
  props: ['theme'],
  firebase () {
    const author = this.theme.author
    return {
      author: {
        source: database.ref('users').child(author).child('name'),
        asObject: true
      }
    }
  },
  computed: {
    numberCards () {
      if (this.theme.arguments === undefined) return 0
      return Object.values(this.theme.arguments).length
    },
    status () {
      const theme = this.theme
      const positiva = theme.dichotomy.positive
      const negativa = theme.dichotomy.negative
      return {
        positiva: {
          name: positiva,
          value: theme.favorVotes
        },
        negativa: {
          name: negativa,
          value: theme.notFavorVotes
        }
      }
    }
  }
}
</script>

<style lang="css">
</style>
