<template lang="html">
  <section class="section">
    <h2 class="title"> Conheça as nossas categorias </h2>
    <div class="tile is-ancestor">
      <router-link
        to="/categories/policy"
        class="tile is-parent is-5 politica">
        <div class="tile box">
          <div class="content">
            <p class="title"> Política </p>
            <p class="subtitle"> Direita x Esquerda; Coxinha x Mortadela; Capitalismo x Socialista e muita tensão e polêmica de tirar o fôlego </p>
          </div>
        </div>
      </router-link>
      <div class="tite is-vertical">
        <router-link to="/categories/education" class="tile is-parent educacao">
          <div class="tile box">
            <div class="content">
              <p class="title"> Educação </p>
              <p class="subtitle"> Os melhores temas para discussão em sala de aula estão aqui. Teorias, ideologias, bioética e muito mais... Sua aula nunca mais será a mesma </p>
            </div>
          </div>
        </router-link>
        <router-link to="/categories/religion" class="tile is-parent religiao">
          <div class="tile box">
            <div class="content">
              <p class="title"> Religião </p>
              <p class="subtitle"> Teísmo, ateísmo, deísmo, agnoticismo, ceticismo e valores da vida... Temas para uma geração que acredita ou não em alguma coisa </p>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Categories',
  computed: {
    categories () {
      const categories = this.$store.state.categories
      if (this.$isEmpty(categories)) return {}
      return categories
    }
  }
}
</script>

<style lang="sass" scoped>
.tile

  .title:after
    content: ''
    display: block
    position: absolute
    width: 50%
    height: 2px
    margin-top: .2em
    background-color: #FFF

  .subtitle
    margin-top: .2em

  .title,
  .subtitle,
  .content
    position: relative
    color: #FFF
    width: 100%

  &.politica .box
    background-color: #1BBD10
    transition: all .2s ease-in

    &:hover
      background-color: darken(#23d160, 10%)

  &.educacao .box
    background-color: #FFC617
    transition: all .2s ease-in
    color: #FFF

    &:hover
      background-color: darken(#FFC617, 10%)

  &.religiao .box
    background-color: #DA20C2
    transition: all .2s ease-in
    color: #FFF

    &:hover
      background-color: darken(#9c00ff, 10%)
</style>
