<template lang="html">
  <div class="copyright">
    <p>
      Desenvolvido por
      <a
        href="http://emanuelgdev.com.br"
        title="Ir para o site de Emanuel G Web Developer"> EmanuelGDev </a>
      e mantido por
      <a href="https://www.facebook.com/AlanPCosta"
        title="Conheça o perfil de Alan Costa, mantenedor do site Debate3D">
          Alan Costa
      </a>
    </p>
  </div>
</template>

<style media="screen">
  .copyright {
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    color: white;
    padding: .5em;
    background-color: #1b1a20;
  }

  .copyright a:hover {
    color: #00aa9e;
    text-decoration: underline;
  }
</style>
