<template lang="html">
  <button
    class="button facebook"
    @click="signinFacebook"> Entre com sua conta do Facebook </button>
</template>

<script>
import { signinFacebook } from '../services/firebase/auth'

export default {
  methods: {
    signinFacebook () {
      signinFacebook()
    }
  }
}
</script>

<style lang="sass" scoped>
  $color: #3b5998
  .button.facebook
    border: 1px solid $color
    outline: none
    color: $color
    background-color: white
    transition: all .3s ease

  .button:hover
    color: white
    background-color: $color
</style>
