<template lang="html">
  <footer class="app-footer">
    <div class="container">
      <div class="app-footer__links">
        <p class="subtitle"> Link importantes </p>
        <ul>
          <li>
            <a
              href="mailto:debated3d@gmail.com"
              title="Envie-nos um email">
              debated3d@gmail.com
            </a>
          </li>
          <li>
            <router-link to="/terms-of-use">
              Termos de uso da plataforma
            </router-link>
          </li>
        </ul>
      </div>


        <div class="app-footer__social">
          <p class="subtitle"> Redes sociais </p>
          <div class="social-blocks">
            <iconSocial
              iconClass="has-facebook"
              iconHref="https://www.facebook.com/debate3d/"
              iconTitle="Curta nossa fan-page no Facebook"
              icon="fa-facebook-square"/>
            <iconSocial
              iconClass="has-twitter"
              iconHref="https://twitter.com/Debate_3D"
              iconTitle="Sina-nos no Twitter"
              icon="fa-twitter"/>
            <iconSocial
              iconClass="has-instagram"
              iconHref="https://www.instagram.com/debate_3d/"
              iconTitle="Sina-nos no Instagram"
              icon="fa-instagram"/>
            <iconSocial
              iconClass="has-linkedin"
              iconHref="https://www.linkedin.com/company/debate3d"
              iconTitle="Conheça nosso perfil no Linkedin"
              icon="fa-linkedin"/>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script type="text/javascript">
  import iconSocial from './IconSocial'

  export default {
    components: { iconSocial }
  }
</script>
