<template lang="html">
  <header class="hero">
    <MenuDash />
  </header>
</template>

<script>
import MenuDash from './Menu'

export default {
  components: { MenuDash }
}
</script>

<style lang="css">
</style>
