<template lang="html">
  <a
    :class="iconClass"
    :href="iconHref"
    :title="iconTitle"
    target="blanck">
      <span class="icon is-large">
        <i
          class="fa"
          :class="icon"></i>
      </span>
    </a>
</template>

<script>
export default {
  props: ['iconClass', 'iconHref', 'iconTitle', 'icon']
}
</script>
