<template lang="html">
  <nav
    class="nav"
    :class="{ 'is-categories': navStyle !== undefined }"
    :style="navStyle">
    <div class="nav-left">
      <router-link to="/home" class="nav-item">
        <img src="../assets/img/logoMenu.png" alt="Debated3D logo">
      </router-link>
      <router-link to="/home" class="nav-item" v-if="isLogged">
        <p> {{ username }} - {{ ponts }} pts </p>
      </router-link>
    </div>

    <div
      v-if="!isLogged"
      class="nav-center">
      <div class="nav-item">
        <FaceButton />
      </div>
    </div>

    <span
      class="nav-toggle"
      :class="{ 'is-active' : toggleMenu }"
      @click="toggleMenu = !toggleMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div
      class="nav-right nav-menu"
      :class="{ 'is-active' : toggleMenu }">
      <router-link :to="`/home`" class="nav-item" v-if="isLogged">
        Home
      </router-link>
      <router-link :to="`/ranking`" class="nav-item">
        Ranking
      </router-link>
      <router-link to="/subscriber" class="nav-item" v-if="!isSubscriber && isLogged">
        Seja um assinante
      </router-link>
      <router-link to="/themes" class="nav-item">
        Temas
      </router-link>
      <router-link to="/create-theme" class="nav-item" v-if="isSubscriber && isLogged">
        Criar Tema
      </router-link>
      <router-link to="/my-arguments" class="nav-item" v-if="isLogged">
        Meus Cards
      </router-link>
      <router-link to="/deck-arguments" class="nav-item" v-if="isLogged">
        Meu Deck
      </router-link>
      <a
        v-if="isLogged"
        href="#"
        class="nav-item"
        @click="sair">
        Sair
      </a>
    </div>
  </nav>
</template>

<script>
import { signOut } from '../services/firebase/auth'
import FaceButton from './FaceButton'
import { categories } from '../helpers'

export default {
  name: 'menu-themes',
  components: { FaceButton },
  data () {
    return { toggleMenu: false }
  },
  computed: {
    username () {
      return this.$store.state.user.name
    },
    ponts () {
      return this.$store.state.user.ponts
    },
    userUid () {
      const split = this.$store.state.user.name.split(' ')
      return split.map(value => value.toLowerCase()).join('-')
    },
    isLogged () {
      if (!this.$isEmpty(this.$store.state.user)) return true
      return false
    },
    isSubscriber () {
      return this.$store.state.user.isSubscriber
    },
    navStyle () {
      if (!this.$route.path.includes('categories')) return
      const path = this.$route.path.slice(12)
      return {
        'background-color': categories.filter(item => item.name === path)[0].color,
        'box-shadow': 'none'
      }
    }
  },
  methods: {
    sair () {
      signOut()
    }
  }
}
</script>

<style lang="css" scoped lang="sass">
  .hero .nav
    width: 100%
    background-color: inherit

    &.is-categories
      a:not(.facebook)
        color: white

    &:not(.is-categories)
      a.router-link-active
        background-color: #2ecc71
        color: #FFFFFF
      a:not(.router-link-active):hover
        background-color: #ecf0f1
</style>
