<template lang="html">
  <div
    tabindex="0"
    class="modal"
    :class="{'is-active' : active}">
    <div
      class="modal-background"
      @click="$emit('closeModal')"></div>
      <div class="modal-content">
        <slot></slot>
      </div>
      <button
        class="modal-close"
        @click="$emit('closeModal')"></button>
    </div>
</template>

<script>
export default {
  props: ['active']
}
</script>
