<template lang="html">
  <div :style="{ 'background-color': bg }">
    <p class="subtitle" :style="{ 'color': font }"> {{ title }} </p>
  </div>
</template>

<script>
export default {
  props: ['bg', 'font', 'title']
}
</script>

<style lang="sass" scoped>
div
  width: 100%
  height: 200px
  margin-bottom: 1em
  display: flex
  justify-content: center
  align-items: center

  p
    font-size: 3em
    text-transform: uppercase
    font-weight: bold
    text-align: center
    width: 100%
</style>
