<template>
  <div class="progress" :class="height">
    <div
      class="favorVoteProgess"
      :style="widthFavor">
        <p> {{ favorVotesPercent }}% </p>
      </div>
    <div
      class="notFavorVoteProgress"
      :style="widthNotFavor">
        <p> {{ notFavorVotesPercent }}% </p>
      </div>
  </div>
</template>

<script>
export default {
  props: ['theme', 'height'],
  computed: {
    total () {
      return this.theme.favorVotes + this.theme.notFavorVotes
    },
    favorVotesPercent () {
      if (this.theme.favorVotes === 0) return 0
      const val = (this.theme.favorVotes / this.total) * 100
      return val.toFixed(2)
    },
    notFavorVotesPercent () {
      if (this.theme.notFavorVotes === 0) return 0
      const val = (this.theme.notFavorVotes / this.total) * 100
      return val.toFixed(2)
    },
    widthFavor () {
      if (this.favorVotesPercent === 0 && this.notFavorVotesPercent === 0) {
        return {
          width: '50%'
        }
      }
      if (this.favorVotesPercent === 0) {
        return {
          display: 'none'
        }
      }
      return {
        width: this.favorVotesPercent + '%'
      }
    },
    widthNotFavor () {
      if (this.favorVotesPercent === 0 && this.notFavorVotesPercent === 0) {
        return {
          width: '50%'
        }
      }
      if (this.notFavorVotesPercent === 0) {
        return {
          display: 'none'
        }
      }
      return {
        width: this.notFavorVotesPercent + '%'
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.progress
  width: 100%
  display: flex

  &.thin div
    padding: 0.5em

  div
    display: block
    text-align: center
    padding: 1em

    &.favorVoteProgess
      background-color: #0098DA
      color: #FFF
      border-radius: 2px 0 0 2px

    &.notFavorVoteProgress
      background-color: #DB3438
      color: #FFF
      border-radius: 0 2px 2px 0
</style>
