<template lang="html">
  <div
    tabindex="0"
    class="modal"
    :class="{'is-active' : hasPopUp}">
    <div
      class="modal-background"
      @click="removePopUp"></div>
    <div class="modal-content">
      <div class="box">
        <p tabindex="0"> Para executar esta ação é necessário estar logado </p>
        <FaceButton />
      </div>
    </div>
    <button
      class="modal-close"
      @click="removePopUp"></button>
  </div>
</template>

<script>
export default {
  computed: {
    hasPopUp () {
      if (this.$store.state.hasLogged === 'pop-up') return true
      return false
    }
  },
  methods: {
    removePopUp () {
      this.$store.dispatch('hasLogged', '')
    }
  }
}
</script>

<style lang="css">
</style>
