<template lang="html">
  <article class="column is-6 content">
    <h3
      class="subtitle"
      :style="{ 'border-bottom-color': color, 'color': color }"> {{ name | capitalize }} </h3>
    <router-link
      :to="`/themes/${theme.uid}`"
      class="button is-medium is-success">
      <span>Entre</span>
      <span class="icon">
        <img src="../assets/img/runner.svg" alt="">
      </span>
    </router-link>
    <div class="block-flex-wraped">
      <p v-if="loading" class="has-text-centered"> Carregando argumentos... </p>
      <p
        class="subtitle has-text-centered"
        v-if="argumentos === null"> Este tema ainda não possui cards </p>
      <CardArgument
        v-for="argument in argumentos"
        v-if="!loading"
        :ideia="argument"/>
    </div>
    <ProgressTheme :theme="theme" />
  </article>
</template>

<script>
import { argumentsForLimit } from '../services/firebase/database'
import { categories } from '../helpers'

export default {
  props: ['theme', 'category'],
  data () {
    return {
      argumentos: {}
    }
  },
  computed: {
    loading () {
      if (this.argumentos === {}) return true
      return false
    },
    chooseCategory () {
      return categories.filter(obj => obj.name === this.category.name)[0]
    },
    name () {
      return this.theme.name
    },
    color () {
      if (!this.$isEmpty(this.chooseCategory)) return this.chooseCategory.color
    }
  },
  mounted () {
    argumentsForLimit(this.theme.uid, 2)
      .on('value', data => {
        this.argumentos = data.val()
      })
  }
}
</script>

<style lang="css" scoped>
  article {
    border-radius: 2px;
  }

  .button {
    margin-bottom: 1em;
  }

  .icon {
    margin-left: .5em;
  }

  h3 {
    padding: 1em;
    border-bottom: 2px solid;
    font-weight: bold;
  }

  .subtitle {
    color: #1b182a;
  }
</style>
