<template lang="html">
  <transition name="slide-fade">
    <div class="notification" :class="theme" v-if="isShow">
      <button class="delete" @click="hide"></button>
      {{ msg }}
    </div>
  </transition>
</template>

<script>
export default {
  computed: {
    toast () {
      return this.$store.state.toast
    },
    isShow () {
      return this.toast.show
    },
    msg () {
      return this.toast.msg
    },
    theme () {
      return this.toast.theme
    }
  },
  methods: {
    hide () {
      this.$store.dispatch('showToast', {
        msg: this.msg
      })
    }
  }
}
</script>

<style lang="css" scoped lang="sass">
.notification
  position: fixed
  right: 1rem
  bottom: 1rem
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75)

.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateY(10rem)
  opacity: 0
</style>
