<template lang="html">
  <div class="user">
    <p class="user__position" v-if="showRank"> {{ rank + 1 }}° </p>
    <Avatar class="user__avatar" :url="user.photo"/>
    <router-link :to="`/user/${user.uid}`" class="user__name">
      {{ name }}
    </router-link>
    <p class="user__ponts"> {{ user.ponts }} pts </p>
  </div>
</template>

<script>
export default {
  props: ['user', 'rank', 'showRank'],
  computed: {
    name () {
      if (this.user.name === undefined) return ''
      const nameSplited = this.user.name.split(' ')
      return `${nameSplited[0]} ${nameSplited[1]}`
    }
  }
}
</script>
