<template lang="html">
  <div class="tile is-child box">
    <h2 class="subtitle has-text-centered"> Dados pessoais </h2>
    <p class="control has-icons-left">
      <label for="name" class="label is-hidden"> Nome </label>
      <input
        id="name"
        type="text"
        class="input is-medium"
        placeholder="Digite seu nome"
        v-model="name"
        required="true">
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </p>
    <p class="control has-icons-left">
      <label for="email" class="label is-hidden"> Email </label>
      <input id="email" type="email" class="input is-medium" placeholder="Digite seu email" v-model="email" required="true">
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
    <!-- <p class="control has-icons-left">
      <label for="cpf" class="label is-hidden"> CPF </label>
      <the-mask
        id="cpf"
        class="input is-medium"
        mask="###.###.###-##"
        type="text"
        :masked="true"
        placeholder="Digite seu CPF: XXXXXXXXX"
        v-model="cpf"
        required="true"></the-mask>
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </p> -->
    <!-- <p class="control has-icons-left">
      <label for="cep" class="label is-hidden"> CEP </label>
      <the-mask
        id="cep"
        class="input is-medium"
        mask="#####-###"
        type="text"
        :masked="true"
        placeholder="Digite seu CEP: XXXXXXXX"
        v-model="cep"
        required="true"></the-mask>
      <span class="icon is-small is-left">
        <i class="fa fa-map-marker"></i>
      </span>
    </p> -->
    <p> Campos requeridos: nome e email </p>
  </div>
</template>

<script>
export default {
  name: 'personal-data',
  props: ['user'],
  data () {
    return {
      name: '',
      email: '',
      // cep: '',
      // cpf: '',
      objResult: {}
    }
  },
  watch: {
    name () {
      if (!this.$isEmpty(this.name)) {
        this.objResult.name = this.name
        this.returnValue(this.objResult)
      }
    },
    email () {
      if (!this.$isEmpty(this.email)) {
        this.objResult.email = this.email
        this.returnValue(this.objResult)
      }
    }
    // cep () {
    //   this.objResult.cep = this.cep
    //   if (!this.$isEmpty(this.cep)) this.returnValue(this.objResult)
    // },
    // cpf () {
    //   this.objResult.cpf = this.cpf
    //   if (!this.$isEmpty(this.cpf)) this.returnValue(this.objResult)
    // }
  },
  methods: {
    returnValue (value) {
      this.$emit('result', value)
    }
  },
  mounted () {
    const user = this.user
    // if (user.cpf !== undefined) this.cpf
    // if (user.cep !== undefined) this.cep
    if (!this.$isEmpty(user)) {
      this.name = user.name
      this.email = user.email
    }
  }
}
</script>

<style lang="css">
</style>
