<template lang="html">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h2 class="subtitle has-text-centered"> Redes Sociais </h2>
      <p class="control has-icons-left">
        <label for="name" class="label is-hidden"> Youtube </label>
        <input id="name" type="text" class="input is-medium" placeholder="Digite seu canal no youtube" v-model="youtube">
        <span class="icon is-small is-left">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </span>
      </p>
      <p class="control has-icons-left">
        <label for="name" class="label is-hidden"> Facebook </label>
        <input id="name" type="text" class="input is-medium" placeholder="Digite seu canal no facebook" v-model="facebook">
        <span class="icon is-small is-left">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
      </p>
      <p class="control has-icons-left">
        <label for="name" class="label is-hidden"> Twitter </label>
        <input id="name" type="text" class="input is-medium" placeholder="Digite seu canal no twitter" v-model="twitter">
        <span class="icon is-small is-left">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
      </p>
      <p class="control has-icons-left">
        <label for="name" class="label is-hidden"> Instagram </label>
        <input id="name" type="text" class="input is-medium" placeholder="Digite seu canal no instagram" v-model="instagram">
        <span class="icon is-small is-left">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </p>
      <p class="control has-icons-left">
        <label for="name" class="label is-hidden"> Site ou Blog </label>
        <input id="name" type="text" class="input is-medium" placeholder="Digite seu site ou blog" v-model="site">
        <span class="icon is-small is-left">
          <i class="fa fa-link" aria-hidden="true"></i>
        </span>
      </p>

      <button class="button is-success" @click="$emit('confirm')"> Confirmar dados </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['user'],
  name: 'shared-data',
  data () {
    return {
      youtube: '',
      facebook: '',
      instagram: '',
      twitter: '',
      site: '',
      objResult: {}
    }
  },
  watch: {
    youtube () {
      if (!this.$isEmpty(this.youtube)) {
        this.objResult.youtube = this.youtube
        this.returnValue(this.objResult)
      }
    },
    facebook () {
      if (!this.$isEmpty(this.facebook)) {
        this.objResult.facebook = this.facebook
        this.returnValue(this.objResult)
      }
    },
    instagram () {
      if (!this.$isEmpty(this.instagram)) {
        this.objResult.instagram = this.instagram
        this.returnValue(this.objResult)
      }
    },
    twitter () {
      if (!this.$isEmpty(this.twitter)) {
        this.objResult.twitter = this.twitter
        this.returnValue(this.objResult)
      }
    },
    site () {
      if (!this.$isEmpty(this.site)) {
        this.objResult.site = this.site
        this.returnValue(this.objResult)
      }
    }
  },
  methods: {
    returnValue (value) {
      this.$emit('result', value)
    }
  },
  mounted () {
    const user = this.user
    if (!this.$isEmpty(user)) {
      if (user.shared !== undefined) {
        this.youtube = user.shared.youtube
        this.facebook = user.shared.facebook
        this.instagram = user.shared.instagram
        this.twitter = user.shared.twitter
        this.site = user.shared.site
      }
    }
  }
}
</script>

<style lang="css">
</style>
