<template lang="html">
  <CardArgument :ideia="argumento" v-if="!isArgument" />
</template>

<script>
import { database } from '../../services/firebase/database'

export default {
  props: ['argument'],
  data () {
    return {
      argumento: {}
    }
  },
  computed: {
    isArgument () {
      return this.$isEmpty(this.argumento)
    }
  },
  mounted () {
    database
      .ref('arguments/')
      .child(this.argument)
      .on('value', data => {
        this.argumento = data.val()
      })
  }
}
</script>
