<template lang="html">
  <section class="my-deck wrapper">
    <h2 class="title has-text-centered"> Meu Deck </h2>
    <hr>
    <Sections v-for="(theme, key) in themes" :theme="theme" :title="key"/>
    <negative :isShow="showNegative" message="Você não possui cards favoritado" />
  </section>
</template>

<script>
import Sections from './Sections'

export default {
  components: { Sections },
  computed: {
    themes () {
      if (this.$isEmpty(this.$store.state.deck)) return undefined
      return this.$store.state.deck
    },
    showNegative () {
      if (this.themes === undefined) return true
      return false
    }
  }
}
</script>
