<template lang="html">
  <section class="my-deck__article">
    <header>
      <h3 class="subtitle"> {{ title | returnUidFilter | capitalize }} </h3>
      <router-link class="button is-info" :to="`/themes/${title}`"> Confira o tema </router-link>
    </header>
    <article class="block-flex-wraped">
      <CardArgument
        v-for="argument in theme"
        :argument="argument"/>
    </article>
  </section>
</template>

<script>
import CardArgument from './CardArgument'

export default {
  props: ['theme', 'title'],
  components: { CardArgument }
}
</script>
