.card.common.positive
  & .card-header,
  & .card-header-title
    background-color: #0098DA
    color: white

  & .label-card
    color: #0098DA

.card.common.negative
  & .card-header,
  & .card-header-title
    background-color: #DB3438
    color: white

  & .label-card
    color: #DB3438

.card.rare
  & .card-header-title,
  & .label-card
    color: #EBE000

.card.epic
  & .card-header-title,
  & .label-card
    color: #7A4994

.card.legend
  & .card-header-title,
  & .label-card
    color: #26BF66

.card.myth
  background: url('../img/star.png') no-repeat center
