.card-header
  align-items: center
  box-shadow: 0 1px 2px rgba($black, 0.1)
  display: flex

.card-header-title
  color: $text-strong
  font-size: 22px

.card-avatar
  position: relative
  margin: .5em

.card-content
  width: 100%
  padding: 1.5rem
  .title + .subtitle
    margin-top: -1.5rem

.card-footer
  width: 100%
  display: flex
  align-items: stretch
  position: absolute
  bottom: 0
  left: 0
  border-top: 1px solid $border
  background-color: rgba(221, 220, 220, 0.59)

.card-footer-item
  align-items: center
  display: flex
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 0
  justify-content: center
  padding: 0.75rem
  &:not(:last-child)
    border-right: 1px solid $border

.card
  background-color: $white
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)
  color: $text
  width: 290px
  display: inline-block
  height: 400px
  position: relative
  margin: .8em .5em

@media screen and (max-width: 768px)
  .card
    display: block
    margin: 1em auto
