.content.tablist

  li
    list-style: none

  .tablist__item
    display: flex
    align-items: center

    .tablist__item__avatar
      display: inline
      max-width: 3em
      border-radius: 100%

    .tablist__item__text
      margin-left: 1em
