<template lang="html">
  <section class="platform-info">
    <div class="theme-list">
      <h2 class="title has-text-centered"> Tema mais em alta </h2>
      <Themes
        class="themes"
        :theme="themesMajor"
        :category="themesMajor.category"
        v-if="themesMajor !== undefined" />
    </div>

    <div class="users-list">
      <h2 class="title has-text-centered"> Top 5 </h2>
      <UserList
        v-for="(user, key) in users"
        :key="key"
        :rank="key"
        :user="user"
        :showRank="false"/>
    </div>
  </section>
</template>

<script>
import { getUsersPont } from '../../services/firebase/database'
import sortby from 'lodash.sortby'

const value = obj => Object.values(obj).length

export default {
  name: 'platform-info',
  data () {
    return {
      users: {}
    }
  },
  mounted () {
    getUsersPont()
      .then(data => {
        this.users = sortby(data.val(), [value => {
          if ((!value.ponts)) return 0
          return value.ponts
        }]).reverse().slice(0, 5)
      })
      .catch(err => {
        console.log(err)
      })
  },
  computed: {
    themes () {
      if (this.$isEmpty(this.$store.state.themes)) return {}
      return this.$store.state.themes
    },
    themesMap () {
      if (this.$isEmpty(this.themes)) return []
      return Object.values(this.themes)
        .filter(obj => obj.arguments !== undefined)
        .map(obj => Object.assign(
          {},
          obj,
          { argumentsLenght: value(obj.arguments) }
        ))
    },
    themeSort () {
      return this.themesMap.sort((a, b) => {
        if (a.argumentsLenght < b.argumentsLenght) return -1
        if (a.argumentsLenght > b.argumentsLenght) return 1
        return 0
      })
    },
    themesMajor () {
      if (this.themeSort.length !== 0) {
        const lenght = this.themeSort.length
        return this.themeSort[lenght - 1]
      }
      return undefined
    }
  }
}
</script>
