<template lang="html">
  <section class="ponts__info">
    <h2 class="subtitle has-text-centered"> Seus pontos </h2>
    <div class="ponts__card">
      <p class="ponts__card--title">{{ cards }}</p>
      <p> cards </p>
    </div>
    <div class="ponts__card">
      <p class="ponts__card--title">{{ deck }}</p>
      <p> deck </p>
    </div>
    <div class="ponts__card">
      <p class="ponts__card--title">{{ votes }}</p>
      <p> votos </p>
    </div>
    <div class="total">
      Total: {{ total }} pts
    </div>
  </section>
</template>

<script>
export default {
  name: 'ponts',
  computed: {
    user () {
      return this.$store.state.user
    },
    cards () {
      if (this.user.arguments === undefined) return 0
      const cards = []
      const cardsTheme = Object.values(this.user.arguments)
      cardsTheme.forEach(obj => {
        Object.values(obj).forEach(val => {
          cards.push(val)
        })
      })
      return cards.length
    },
    deck () {
      if (this.user.deck === undefined) return 0
      const deck = []
      const deckTheme = Object.values(this.user.deck)
      deckTheme.forEach(obj => {
        Object.values(obj).forEach(val => {
          deck.push(val)
        })
      })
      return deck.length
    },
    votes () {
      if (this.user.voteThemes === undefined) return 0
      return Object.values(this.user.voteThemes).length
    },
    total () {
      return this.user.ponts
    }
  }
}
</script>

<style lang="css">
</style>
