<template lang="html">
  <div class="shared">
    <div class="shared__item" v-if="shared.youtube !== undefined">
      <a :href="shared.youtube" :title="`Conheça o canal no youtube de ${name}`" target="blank">
        <span class="icon is-medium">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </span>
      </a>
    </div>
    <div class="shared__item" v-if="shared.facebook !== undefined">
      <a :href="shared.facebook" :title="`Conheça o perfil do facebook de ${name}`" target="blank">
        <span class="icon is-medium">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
      </a>
    </div>
    <div class="shared__item" v-if="shared.instagram !== undefined">
      <a :href="shared.instagram" :title="`Conheça a página do Instagram de ${name}`" target="blank">
        <span class="icon is-medium">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </a>
    </div>
    <div class="shared__item" v-if="shared.twitter !== undefined">
      <a :href="shared.twitter" :title="`Conheça o perfil no Twitter de ${name}`" target="blank">
        <span class="icon is-medium">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </span>
      </a>
    </div>
    <div class="shared__item" v-if="shared.site !== undefined">
      <a :href="shared.site" :title="`Conheça o site de ${name}`" target="blank">
        <span class="icon is-medium">
          <i class="fa fa-link" aria-hidden="true"></i>
        </span>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'shared-links',
  props: ['shared', 'name']
}
</script>
