<template lang="html">
  <header class="dashboard__user--info tile is-ancestor">
    <div class="tile is-7 is-parent">
      <div class="tile is-child box user-info">
        <Avatar :url="user.photo" lenght="large"/>

        <div class="info">
          <p> {{ user.name }} </p>
          <p> {{ user.email }} </p>
          <p> Usuário desde {{ created }} </p>
          <router-link to="/edited" v-if="isVerified">
            Atualize seus dados
          </router-link>
        </div>

        <div class="ponts">
          <p class="ponts__number"> {{ ponts }} </p>
          <p> pts </p>
        </div>
      </div>
    </div>
    <div class="tile is-parent" v-if="isShared">
      <div class="tile is-child box user-shared">
        <p class="subtitle has-text-centered"> Redes Sociais </p>
        <shared-links :shared="shared" :name="user.name" />
      </div>
    </div>
  </header>
</template>

<script>
import moment from 'moment'
import SharedLinks from './SharedLinks'

export default {
  name: 'user-info',
  components: { SharedLinks },
  computed: {
    user () {
      return this.$store.state.user
    },
    created () {
      return moment(this.user.created).format('DD/MM/YYYY')
    },
    ponts () {
      return this.user.ponts
    },
    isVerified () {
      return !this.$store.state.user.isVerified
    },
    isShared () {
      if (this.user.shared !== undefined) return true
      return false
    },
    shared () {
      if (this.isShared) return this.user.shared
    }
  }
}
</script>
