<template>
  <div id="app">
    <AppHeader />
    <router-view></router-view>
    <AppFooter />
    <Copyright />
    <Toast />
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
