.card-view
  @extend .box
  max-width: 800px
  margin: 1em auto
  padding: 0
  border-radius: 0

  .section__card
    background-color: #FFF
    border-radius: 2px
    font-size: 1.2em

  .section__header
    display: flex
    align-items: center
    padding: .5em
    color: white

  .section__card.positive .section__header
    background-color: #0098DA

  .section__card.negative .section__header
    background-color: #DB3438

  .section__header__title
    margin: .8em
    font-size: 1.6em

  .section__content
    padding: .5em

  .section__card__argument
    font-style: italic
    font-size: 1.1em
    color: #6d6c6c
    font-weight: 500

  .subtitle
    margin-top: 1em

@media screen and (max-width: 800px)
  .card-view
    margin: 1em

    .section__header
      display: block
      text-align: center

    .section__header figure
      display: block
      margin: .8em auto 0 auto
