.edited-profile
  @extend .wrapper
  padding-top: 2em

  .image
    display: block
    margin: 0 auto

  .control.has-icons-left
    margin: 0.5em 0

    input
      border: 1px solid #0D7BFF
      color: #FF4D34

      &:focus ~ .icon
        color: rgba(#FF4D34, 1)

    .icon
      color: rgba(#FF4D34, 0.4)

  .notification
    width: 500px
    margin: 1em auto

    &.loading
      .icon
        display: block
        margin: 0 auto

@media screen and (max-width: 1290px)
  .edited-profile
    padding: 2em 1em
