.app-footer
  background-color: $concrete
  @extend .section

  .container
    display: flex
    justify-content: center
    flex-wrap: wrap

  &__links,
  &__social
    padding: 0 1em
    width: 50%

    .subtitle
      position: relative
      color: $clouds

      &::after
        content: ''
        display: block
        position: absolute
        bottom: -0.5em
        left: 0
        width: 40%
        height: 2px
        background-color: $clouds
        border-radius: 1px

    a
      color: $clouds

      &:hover
        color: $midnight-blue
        text-decoration: underline

  &__social
    a:not(:first-child)
      margin-left: 0.5em

@media screen and (max-width: 480px)
  .app-footer
    .container
      display: block

    &__links,
    &__social
      width: 100%

    &__social
      margin-top: 1em
