$border: 2px solid $flat-gray

.dashboard

  // User info
  .dashboard__user--info
    margin: 0
    position: relative

    .user-info
      display: flex
      align-items: center

      figure
        flex-grow: auto

      .info
        flex-grow: 1
        padding-left: 1em

      .ponts
        flex-grow: auto
        padding-left: 1em
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center

        &__number
          font-weight: bold
          font-size: 3em

  // Ponts
  .ponts__info
    @extend .box
    max-width: 600px
    margin: 1em 1em 1em auto
    display: flex
    flex-wrap: wrap

    .subtitle
      width: 100%
      padding-bottom: .8em
      border-bottom: $border
      margin-bottom: 0

    .ponts__card
      flex-grow: 1
      text-align: center

      &--title
        font-size: 2.8em
        font-weight: bold

    .total
      width: 100%
      text-align: right
      border-top: $border
      margin-top: .8em
      padding-top: .8em
      font-size: 1.2em

  // platform-info
  .platform-info
    @extend .box
    margin: 1em
    display: flex

    .theme-list
      .column.is-6
        width: 100%

    .users-list
      flex-grow: 1
      margin-left: 1em

      .user:first-child
        margin-top: 0

@media screen and (max-width: 768px)
  .dashboard
    .user-info
      width: 100%
      flex-direction: column
      text-align: center
      margin-top: 1em
      border-left: none

      .info
        margin: 1em 0

    .ponts
      width: 100%
      padding: 1em 0
      border-left: none
      border-top: $border

    .ponts__info
      margin: 1em

    .platform-info
      flex-direction: column
      margin: 0
      padding: 0

      .users-list
        margin: 0
        padding: 1em 0.3em
