.list-themes
  background-color: transparent
  padding-top: 2em

  &__section
    padding: 2em

    > div
      @extend .wrapper

      > .subtitle
        color: #FFFFFF
        text-transform: uppercase
        font-weight: bold

    .button
      margin-left: auto
      display: block

@media screen and (max-width: 480px)
  .list-themes__section
    padding: 1em
