.my-arguments
  padding: 2em 0

  &__article
    margin: 0.5em 0
    padding: 1em 0
    border: 2px solid #0098DA
    border-right: none
    border-bottom: none
    background-color: rgba(255, 255, 255, 0.2)

    .subtitle
      margin-left: 1em
      margin-bottom: 0.5em

    .button
      margin-left: 1em
