.profile
  @extend .wrapper
  max-width: 800px
  padding: 2em 1em
  background-color: rgba(255, 255, 255, 0.2)

  &__header
    display: flex
    align-items: center
    flex-direction: column
    padding: 0 0 1em 0
    border-bottom: 1px solid #bbb

    .subtitle:last-child
      font-weight: 500

    .image
      margin-bottom: 1em

  &__section
    padding: 1em 0

    > .subtitle
      margin-top: 1em
      font-weight: 500

      &:first-child
        margin-top: 0

    .shared
      display: flex

      &__item
        flex-grow: 1
        text-align: center

    .card
      display: block
      margin: 0 auto
