.ranking-users
  @extend .section
  background-color: transparent

  .control
    max-width: 600px
    margin: 0 auto

  .list-enter-active, .list-leave-active
    transition: all 1s

  .list-enter, .list-leave-to .list-leave-active
    opacity: 0
    transform: translateX(30px)
