.themes-category

  &__header
    width: 100%
    min-height: 100vh
    +flexCenter()
    flex-direction: column

    &.policy
      background-color: #2ecc71

    &.education
      background-color: #f1c40f

    &.religion
      background-color: #9b59b6

    .title,
    &__blockquote
      color: #FFFFFF

    &__blockquote
      font-style: italic
      margin: 1em auto
      max-width: 600px
      font-size: 1.3em
      text-align: center

  .wrapper
    margin-top: 1em

  .control,
  .columns
    margin: 0 1rem

  .title
    padding: .8em 2em
    text-align: center
    position: relative
    width: 100%

  .input
    border: 1px solid #0D7BFF
    color: #FF4D34

    &:hover
      border: 1px solid #0D7BFF

@media screen and (max-width: 480px)
  .themes-category

    &__header .title
      padding: 0
