.theme
  background-color: rgba(255, 255, 255, 0.2)
  padding: 2em 1em

  &__title
    @extend .title
    font-size: 3.6rem
    position: relative

    &::after
      content: ''
      display: block
      position: absolute
      bottom: -0.2em
      width: 50%
      height: 1px
      background-color: #363636

  &__article
    display: flex

  &__info
    width: 20%

    .image
      margin-bottom: 1em

  &__content
    width: 80%

  &__actions
    max-width: 800px
    margin: 0 auto

    .button.is-medium.is-info
      margin: 0 auto
      max-width: 150px
      display: block

    .subtitle
      margin: 1em 0

    .vote
      width: 100%
      margin: 0 auto

    .vote div
      display: flex

    .vote .button
      flex-grow: 1
      outline: none

    .button.favorVote
      margin-right: 5px

    .notFavorVote
      margin-left: 5px

    .button span
      margin-left: 5px
      margin-right: 5px

@media screen and (max-width: 768px)
  .theme__title
    font-size: 2.8rem
    text-align: center

    &::after
      margin: 0 auto
      width: 100%

  .theme__article
    display: block

  .theme__info,
  .theme__content
    text-align: center
    width: 100%

    .image
      margin: 0 auto 1em auto

  .theme__content
    padding-top: 2em

    .vote
      width: 100%
