.box-theme
  @extend .box
  color: #363636
  position: relative
  min-height: 150px
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  overflow: hidden

  &:hover
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)

    .subtitle
      transform: translateY(-40px)

    .box__description
      transform: translateY(0px)
      opacity: 1

  .subtitle
    height: 100%
    display: block
    margin-bottom: 0
    text-align: center
    transition: all .3s ease
    width: 100%

  .box__description
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    opacity: 0
    transform: translateY(30px)
    transition: all .3s ease
    background-color: #34495e
    color: white
    padding: 0.5em

    .button
      position: absolute
      bottom: 0.5em
      right: 0.5em

@media screen and (max-width: 992px)
  .box-theme
    padding: 1.25rem 0 0 0

    .subtitle
      transform: translateY(-40px)

    &:hover .subtitle
      transform: translateY(-40px)

    .box__description
      opacity: 1
      transform: none
