.user
  @extend .box
  position: relative
  display: flex
  align-items: center

  &__position
    font-size: 2em

  &__avatar
    max-width: 60px
    max-height: 60px
    margin: 0 1em

  &__name, &__ponts
    font-size: 1.4em

  &__ponts
    position: absolute
    right: 1em

@media screen and (max-width: 480px)
  .user
    font-size: 0.8rem

    &__ponts
      bottom: 0.5em
